.figure, .gridsolar figure .figure, .gridsolar .figure {
  width: 18vw;
  height: 68vh;
  background-color: white;
  border: black 2px solid;
  border-radius: 10px;
}

.producto, .gridsolar .figure img, .gridcamara .figure img {
  width: 10vw;
  height: 20vh;
  padding: 10px;
}

figcaption, .gridsolar .figure figcaption, .gridcamara .figure figcaption {
  width: 90%;
  height: 10em;
  margin-top: 5px;
  margin-left: 15px;
}

.precio, .flex figure p, .gridsolar .figure p, .gridcamara .figure p {
  width: 90%;
  height: 3em;
  text-align: center;
  margin-top: 1em;
  margin-left: 5px;
}

.btn, .flex figure .btn, .gridsolar .figure .btn, .gridcamara .figure .btn {
  width: 15vw;
  height: 5vh;
  font-size: 14px;
}

body {
  background-image: url(../img/escritorio-computadora-portatil-taza-cafe-calendario.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.anuncio {
  background-color: #4c6bf8;
  width: 100%;
  height: 8vh;
  text-align: center;
  font-family: sans-serif;
  padding: 8px;
}
.anuncio h1 {
  font-size: 1.5em;
}

.navbar {
  margin-top: 5%;
}
.navbar .navbar-brand img {
  background-color: white;
  width: 10vw;
  border-radius: 15px;
  border: black 2px solid;
  margin-left: 2vw;
}
.navbar .navbar-toggler {
  background-color: rgba(153, 150, 147, 0.6980392157);
  border: black 1px solid;
}
.navbar #navbarSupportedContent li a {
  color: white;
  font-family: "roboto", sans-serif;
  font-size: 1em;
  margin-right: 2vw;
}

.contenedor {
  background-color: black;
  width: 98%;
  height: 61%;
  margin-top: 25vh;
  margin-left: 8px;
  justify-content: center;
}
.contenedor .row {
  justify-content: center;
}
.contenedor .row .col-md-6 img {
  margin-left: 1px;
  height: 61vh;
  width: 93vw;
  padding: 5px;
}
.contenedor .row .card-text {
  color: white;
  font-size: 25px;
  width: 45vw;
  margin-top: 40px;
}
.contenedor .row .card-text3 {
  color: white;
  font-size: 20px;
  width: 45vw;
  margin-top: 40px;
}

.gridcamara {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  column-gap: 45px;
  justify-content: center;
  margin-top: 25vh;
  height: 100vh;
}
.gridcamara .figure, .gridcamara .gridsolar .figure, .gridsolar .gridcamara .figure {
  width: 20vw;
  height: 67vh;
  border: black 3px solid;
  border-radius: 10px;
  background-color: rgb(255, 254, 254);
  text-align: center;
}
.gridsolar {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  column-gap: 45px;
  row-gap: 5vh;
  justify-content: center;
  margin-top: 25vh;
  height: 100vh;
}
.gridsolar .figure, .gridsolar figure .figure {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-top: 25vh;
}
.flex figure {
  background-color: rgb(214, 32, 32);
  height: 18%;
  height: 68vh;
  border: rgb(202, 18, 18) 3px solid;
  text-align: center;
}
.flex figure img {
  width: 10vw;
  height: 20vh;
  padding: 10px;
}
.flex figure figcaption, .flex figure .gridcamara .figure figcaption, .gridcamara .figure .flex figure figcaption, .flex figure .gridsolar .figure figcaption, .gridsolar .figure .flex figure figcaption {
  width: 90%;
  height: 10em;
  margin-top: 5px;
  margin-left: 15px;
}
.footer {
  margin-top: 20%;
  width: 98%;
  height: 10vh;
  display: flex;
  position: absolute;
  text-align: center;
  justify-content: space-around;
}
.footer .p {
  width: 20vw;
  text-align: start;
}
.footer .p img {
  background-color: white;
  width: 20vh;
  border: black 2px solid;
  border-radius: 10px;
}
.footer .p h1 {
  color: white;
  width: 50%;
  font-size: 25px;
}
.footer .p h2 {
  color: white;
  width: 45%;
  font-size: 20px;
}
.footer .mapa {
  height: 30vh;
  margin-bottom: 20px;
}

.texto {
  margin-top: 25vh;
}
.texto img {
  border: white 2px solid;
  height: 90vh;
}
.texto .card-img-overlay {
  margin-left: 14vw;
  margin-top: 20vh;
}
.texto .card-img-overlay .nosotrost {
  font-size: 80%;
  font-family: sans-serif;
  width: 85%;
  height: 70%;
  padding: 10px;
  background-color: rgb(148, 119, 87);
  border-radius: 20px;
  color: white;
  border: black 2px solid;
  text-align: center;
}

.contact_form {
  background-color: #4c6bf8;
  width: 35vw;
  height: auto;
  margin-left: 32%;
  margin-top: 20vh;
  border-radius: 20px;
}
.contact_form .formulario {
  padding: 25px;
}
.contact_form .formulario h1 {
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 25px;
}
.contact_form .formulario h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
}
.contact_form .formulario input {
  width: 100%;
}
.contact_form .formulario button {
  width: 100%;
}
.contact_form .formulario .texto_mensaje {
  width: 100%;
  height: 15vh;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .anuncio {
    background-color: #3d5ce4;
    width: 100%;
    height: 5vh;
    text-align: center;
    font-family: sans-serif;
    padding: 8px;
    margin-bottom: 10vh;
  }
  .anuncio h1 {
    font-size: 1em;
  }
  .navbar .navbar-brand img {
    background-color: white;
    width: 13vw;
    border-radius: 10px;
    margin-left: 2vw;
  }
  .navbar .navbar-toggler {
    margin-right: 2em;
    border: black 1px solid;
  }
  .navbar #navbarSupportedContent li {
    margin-top: 10px;
  }
  .navbar #navbarSupportedContent a {
    color: white;
    font-size: 1em;
    font-family: sans-serif;
  }
  .navbar .carrito {
    margin-right: 15px;
  }
  .contenedor {
    margin-top: 10vh;
    justify-content: center;
    background-color: rgb(12, 12, 12);
  }
  .contenedor .row .col-md-6 .img-fluid {
    margin-left: 1px;
    height: 40vh;
    width: 98vw;
    padding: 5px;
  }
  .contenedor .row .col-md-6 .card-text {
    color: rgb(250, 249, 249);
    font-size: 16px;
    width: 45vw;
    margin-top: 40px;
  }
  .contenedor .row .col-md-6 .card-text3 {
    font-size: 14px;
  }
  .footer {
    margin-top: 10%;
    width: 95%;
    height: 30vh;
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: space-around;
  }
  .footer .p {
    margin-right: 5%;
    width: 25%;
    text-align: center;
  }
  .footer .p img {
    background-color: white;
    width: 6em;
    border: black 2px solid;
    border-radius: 10px;
    margin-top: 80px;
  }
  .footer .p h1 {
    color: white;
    width: 50%;
    font-size: 15px;
    margin-top: 80px;
  }
  .footer .p h2 {
    color: white;
    width: 45%;
    font-size: 15px;
    margin-top: 80px;
  }
  .footer .mapa {
    width: 65%;
    height: 65%;
    margin-top: 50px;
  }
  .gridcamara {
    grid-template-columns: repeat(3, 30%);
    column-gap: 20px;
  }
  .gridcamara .figure, .gridcamara .gridsolar figure .figure, .gridsolar figure .gridcamara .figure {
    width: 25vw;
    height: 55vh;
    border: black 3px solid;
    border-radius: 10px;
    background-color: white;
    text-align: center;
  }
  .gridcamara .figure img {
    width: 16vw;
    height: 14vh;
    padding: 5px;
  }
  .gridcamara .figure figcaption {
    margin-top: 20px;
    margin-bottom: 12vh;
    height: 3em;
    font-size: 15px;
  }
  .gridcamara .figure p {
    font-size: 13px;
    text-align: center;
    margin-top: 14vh;
  }
  .gridcamara .figure a {
    font-size: 14px;
    width: 15vw;
    height: 6vh;
  }
}
.gridsolar figure img {
  width: 17vw;
  height: 22vh;
  padding: 15px;
}
.gridsolar figure figcaption, .gridcamara .figure .gridsolar figure figcaption, .gridsolar figure .figure figcaption, .gridsolar .figure figure figcaption {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 5em;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  width: 99%;
  margin-top: 20vh;
}
.flex .kit {
  width: 20%;
  height: 70vh;
}
.flex .kit .figure {
  background-color: white;
  height: 100vh;
  height: 60vh;
  border: black 3px solid;
  text-align: center;
}
.flex .kit .figure img {
  width: 80%;
  height: 30%;
  margin-bottom: 5%;
  padding: 5%;
}
.flex .kit .figure figcaption {
  font-size: 75%;
  height: 25vh;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
}
.flex .kit .figure p {
  font-size: 15px;
  height: 3em;
}
.flex .kit .figure a {
  font-size: 10px;
  width: 80%;
  height: 6%;
}

.texto {
  margin-top: 10%;
}
.texto img {
  height: 50%;
  border: white 2px solid;
}
.texto .card-img-overlay {
  margin-left: 12%;
  margin-top: 11%;
}
.texto .card-img-overlay .nosotrost {
  font-size: 95%;
  font-family: sans-serif;
  width: 85%;
  height: 70%;
  padding: 20px;
  background-color: rgb(148, 119, 87);
  border-radius: 20px;
  color: white;
  border: black 2px solid;
  text-align: center;
}

.contact_form {
  background-color: #a89382;
  width: 40%;
  height: 70%;
  margin-left: 30%;
  margin-top: 15vh;
  border-radius: 20px;
}
.contact_form .formulario {
  padding: 15px;
}
.contact_form .formulario h1 {
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 5px;
}
.contact_form .formulario h3 {
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
}

/*
@media (min-width: 1026px) and (max-width: 1250px) {


    // nav
    .navbar {


        #navbarSupportedContent a:hover {
            background-color: transparent;



        }
    }

    // main 


    .contenedor {
        width: 98%;
        height: 40vh;
        margin-top: 15vh;
        justify-content: center;
        background-color: rgb(12, 12, 12);

        .row {
            .col-md-6 {
                .img-fluid {
                    margin-left: 1px;
                    height: 40vh;
                    width: 98vw;
                    padding: 5px;

                }



                .card-text {

                    color: rgb(250, 249, 249);
                    font-size: 20px;
                    width: 45vw;
                    margin-top: 40px;
                }

                .card-text3 {
                    font-size: 16px;

                }


            }

        }
    }

    // footer



    .footer {
        margin-top: 10%;
        width: 95%;
        height: 30vh;
        display: flex;
        position: absolute;
        text-align: center;
        justify-content: space-around;

        .p {
            margin-right: 5%;
            width: 25%;
            text-align: center;


            img {
                background-color: white;
                width: 6em;
                border: black 2px solid;
                border-radius: 10px;
                margin-top: 80px;
            }


            h1 {
                color: rgb(8, 8, 8);
                width: 60%;
                font-size: 22px;
                margin-top: 80px;
                text-align: start;
            }

            h2 {
                color: rgb(12, 12, 12);
                width: 50%;
                font-size: 22px;
                margin-top: 80px;
                text-align: start;
            }

        }

        .mapa {
            width: 75%;
            height: 75%;
            margin-right: px;
            margin-top: 50px;


        }

    }

    // camaras

    .gridcamara {
        column-gap: 20px;

        figure {
            width: 20vw;
            height: 55vh;
            border: black 3px solid;
            border-radius: 10px;
            background-color: white;
            text-align: center;

            img {
                width: 14vw;
                height: 16vh;
                padding: 5px;
            }
        }
    }

    //solar

    .gridsolar {
        figure {
            width: 25vw;
            height: 58vh;
            border: black 3px solid;
            border-radius: 10px;
            background-color: white;
            text-align: center;

            img {
                width: 17vw;
                height: 25vh;
                padding: 15px;
            }
        }
    }

    // kits 

    .flex {
        display: flex;
        justify-content: space-evenly;
        width: 99%;
        margin-top: 20vh;

        .kit {
            width: 20%;
            height: 70vh;

            figure {
                background-color: white;
                height: 100vh;
                height: 60vh;
                border: black 3px solid;
                text-align: center;

                img {
                    width: 80%;
                    height: 30%;
                    margin-bottom: 5%;
                    padding: 5%;
                }

                figcaption {
                    font-size: 75%;
                    height: 25vh;
                    width: 90%;
                    margin-left: 5%;
                    margin-bottom: 5%;


                }

                p {
                    font-size: 15px;

                    height: 3em;

                }

                a {
                    font-size: 10px;
                    width: 80%;
                    height: 6%;
                }
            }
        }



    }
}*/
@media (min-width: 600px) and (max-width: 767px) {
  .anuncio {
    height: 5vh;
  }
  .anuncio h1 {
    font-size: 16px;
  }
  .navbar .navbar-brand img {
    background-color: white;
    width: 16vw;
    border-radius: 10px;
    margin-left: 2vw;
  }
  main .contenedor {
    display: block;
    width: 98%;
    height: 75vh;
    margin-top: 10vh;
    margin-left: 6px;
  }
  main .contenedor .row .col-md-6 img {
    height: 42vh;
    width: 98vw;
  }
  main .contenedor .row .col-md-6 .card-text {
    color: white;
    font-size: 20px;
    width: 93vw;
    height: 23vh;
  }
  main .contenedor .row .col-md-6 .card-text3 {
    font-size: 17px;
    width: 100%;
    margin-top: 15px;
  }
  .footer {
    margin-top: 10%;
    width: 97%;
    height: 30vh;
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: space-around;
  }
  .footer .p {
    margin-right: 5%;
    width: 25%;
    text-align: end;
  }
  .footer .p img {
    background-color: white;
    width: 5em;
    border: black 2px solid;
    border-radius: 10px;
    margin-top: 80px;
    margin-right: 25px;
  }
  .footer .p h1 {
    color: rgb(253, 253, 253);
    width: 70%;
    font-size: 18px;
    margin-top: 80px;
    text-align: start;
  }
  .footer .p h2 {
    color: rgb(250, 250, 250);
    width: 60%;
    font-size: 18px;
    margin-top: 80px;
    text-align: start;
  }
  .footer .mapa {
    display: none;
  }
  .gridcamara {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    column-gap: 5px;
    justify-content: center;
    margin-top: 25vh;
    margin-left: 15%;
  }
  .gridcamara figure {
    width: 35vw;
    height: 55vh;
    border: black 3px solid;
    border-radius: 10px;
    background-color: white;
    text-align: center;
  }
  .gridcamara figure img {
    width: 15vw;
    height: 15vh;
    padding: px;
  }
  .gridsolar {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    column-gap: 10vw;
    row-gap: 5vh;
    justify-content: center;
    margin-top: 25vh;
  }
  .gridsolar figcaption, .gridcamara .figure .gridsolar figcaption, .gridsolar .figure figcaption {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .gridsolar figure {
    width: 35vw;
    height: 52vh;
    border: black 3px solid;
    border-radius: 10px;
    background-color: white;
    text-align: center;
  }
  .gridsolar figure img {
    width: 18vw;
    height: 20vh;
    padding: 15px;
  }
  .gridsolar figure p {
    height: 8vh;
  }
  .flex {
    display: flex;
    width: 98%;
    margin-top: 20vh;
    justify-content: center;
  }
  .flex .kit {
    width: 35%;
    height: 50vh;
    margin-bottom: 100px;
    margin-right: 5%;
  }
  .flex .kit figure {
    background-color: white;
    height: 100vh;
    height: 50vh;
    border: black 3px solid;
    text-align: center;
  }
  .flex .kit figure img {
    width: 80%;
    height: 37%;
    margin-bottom: 5%;
    padding: 5%;
  }
  .flex .kit figure figcaption {
    font-size: 75%;
    height: 15vh;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .flex .kit figure p {
    font-size: 15px;
    height: 3em;
  }
  .flex .kit figure a {
    font-size: 10px;
    width: 80%;
    height: 7%;
  }
  .texto {
    margin-top: 10vh;
  }
  .texto img {
    height: 40%;
  }
  .texto .card-img-overlay {
    margin-left: 12vw;
    margin-top: 10vh;
  }
  .texto .card-img-overlay .nosotrost {
    font-size: 75%;
  }
  .contact_form {
    background-color: #a89382;
    width: 55%;
    height: 60vh;
    margin-left: 20%;
    margin-top: 10vh;
    border-radius: 20px;
  }
  .contact_form .formulario {
    padding: 15px;
  }
  .contact_form .formulario h1 {
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 5px;
  }
  .contact_form .formulario h3 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
  }
  .contact_form .formulario input {
    width: 100%;
  }
  .contact_form .formulario button {
    width: 100%;
  }
  .contact_form .formulario .texto_mensaje {
    width: 100%;
    height: 5vh;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  .anuncio {
    height: 5vh;
  }
  .anuncio h1 {
    font-size: 80%;
  }
  .navbar .navbar-brand img {
    background-color: white;
    width: 16vw;
    border-radius: 10px;
    margin-left: 2vw;
  }
  main .contenedor {
    display: block;
    width: 95%;
    height: 70vh;
    margin-top: 10vh;
    margin-left: 12px;
  }
  main .contenedor .row .col-md-6 img {
    height: 40vh;
    width: 98vw;
  }
  main .contenedor .row .col-md-6 .card-text {
    padding: 10px;
    color: white;
    font-size: 100%;
    width: 90vw;
    height: 25vh;
    margin-top: 1px;
  }
  main .contenedor .row .col-md-6 .card-text3 {
    font-size: 83%;
    width: 100%;
    height: 22vh;
    margin-top: 5px;
    margin-top: 10px;
  }
  .footer {
    margin-top: 20%;
    padding: 15px;
    width: 97%;
    height: 20vh;
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: space-around;
  }
  .footer .p img {
    background-color: white;
    width: 16vw;
    border: black 2px solid;
    border-radius: 10px;
  }
  .footer .p h1 {
    color: white;
    width: 80%;
    font-size: 15px;
  }
  .footer .p h2 {
    color: white;
    width: 80%;
    font-size: 15px;
  }
  .footer .mapa {
    display: none;
  }
  .gridcamara {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    column-gap: 25px;
    justify-content: center;
    margin-top: 10vh;
  }
  .gridcamara figure {
    width: 35vw;
    height: 50vh;
    padding: 5px;
  }
  .gridcamara figure img {
    width: 21vw;
    height: 12vh;
    padding: 5px;
  }
  .gridcamara figure figcaption, .gridcamara figure .figure figcaption, .gridcamara .figure figure figcaption, .gridsolar .figure .gridcamara figure figcaption {
    margin-top: 20px;
    margin-bottom: 1vh;
    height: 8em;
    font-size: 15px;
  }
  .gridsolar {
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    column-gap: 10vw;
    row-gap: 5vh;
    justify-content: center;
    margin-top: 25vh;
  }
  .gridsolar figure {
    width: 35vw;
    height: 55vh;
    border: black 3px solid;
    border-radius: 10px;
    background-color: white;
    text-align: center;
  }
  .gridsolar figure img {
    width: 25vw;
    height: 20vh;
    padding: 5px;
  }
  .gridsolar figure figcaption, .gridcamara .figure .gridsolar figure figcaption, .gridsolar figure .figure figcaption, .gridsolar .figure figure figcaption {
    margin-top: 15px;
    margin-bottom: 25px;
    height: 6em;
    padding: 10px;
  }
  .flex {
    display: flex;
    width: 99%;
    justify-content: space-evenly;
    margin-top: 20vh;
    padding: 10px;
  }
  .flex .kit {
    width: 40%;
    height: 70vh;
  }
  .flex .kit figure {
    height: 50vh;
  }
  .flex .kit figure img {
    width: 85%;
    height: 22vh;
  }
  .flex .kit figure figcaption {
    font-size: 70%;
    height: 28%;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10%;
  }
  .flex .kit figure p {
    font-size: 70%;
  }
  .flex .kit figure a {
    font-size: 10px;
  }
  .texto {
    margin-top: 10vh;
    height: 40vh;
  }
  .texto img {
    height: 70%;
  }
  .texto .card-img-overlay {
    margin-left: 11vw;
    margin-top: 6vh;
  }
  .texto .card-img-overlay .nosotrost {
    font-size: 60%;
    font-family: sans-serif;
    width: 70vw;
    height: 20vh;
    padding: 16px;
    background-color: rgb(148, 119, 87);
    border-radius: 20px;
    color: white;
    border: black 2px solid;
    text-align: center;
  }
  .contact_form {
    background-color: #5d74df;
    width: 55vw;
    height: 55vh;
    margin-left: 25vw;
    margin-top: 10vh;
    border-radius: 20px;
  }
  .contact_form .formulario h1 {
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 5px;
  }
  .contact_form .formulario h3 {
    font-size: 10px;
    text-align: center;
    margin-bottom: 5px;
  }
  .contact_form .formulario button {
    font-size: 10px;
    width: 100%;
    height: 4vh;
  }
  .contact_form .formulario input {
    width: 100%;
    height: 4vh;
  }
  .contact_form .formulario .texto_mensaje {
    width: 100%;
    height: 4vh;
  }
}
@media (min-width: 390px) and (max-width: 479px) {
  .anuncio {
    width: 100%;
    height: 5vh;
  }
  .anuncio h1 {
    font-size: 85%;
  }
  .navbar .navbar-brand img {
    width: 18vw;
    border-radius: 10px;
    margin-top: 1vh;
  }
  main .contenedor {
    display: block;
    width: 95vw;
    height: 50%;
    margin-top: 10vh;
  }
  main .contenedor .row .col-md-6 img {
    height: 33vh;
    width: 95vw;
  }
  main .contenedor .row .col-md-6 .card-text {
    margin-top: 5px;
    text-align: start;
    color: white;
    font-size: 80%;
    width: 85vw;
    height: 18vh;
    text-align: center;
  }
  main .contenedor .row .col-md-6 .card-text3 {
    font-size: 83%;
    width: 100%;
    height: 22vh;
    margin-top: 5px;
    margin-top: 10px;
  }
  .footer {
    background-color: #4c6bf8;
    width: 100vw;
    height: 15vh;
    display: flex;
    position: absolute;
  }
  .footer .p img {
    margin-top: 20px;
    margin-left: 10px;
    width: 4em;
    background-color: white;
    border-radius: 10px;
    border: black 1px solid;
  }
  .footer .p h1 {
    margin-top: 20px;
    color: black;
    width: 80%;
    font-size: 60%;
  }
  .footer .p h2 {
    margin-top: 20px;
    margin-right: 40px;
    color: black;
    width: 55%;
    font-size: 60%;
  }
  .footer .mapa {
    display: none;
  }
  .gridcamara {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    column-gap: 25px;
    justify-content: center;
    margin-top: 25vh;
  }
  .gridcamara figure {
    width: 40vw;
    height: 95%;
    padding: 5px;
  }
  .gridcamara figure img {
    width: 75%;
    height: 15vh;
    padding: 5px;
  }
  .gridcamara figure figcaption, .gridcamara figure .figure figcaption, .gridcamara .figure figure figcaption, .gridsolar .figure .gridcamara figure figcaption {
    margin-bottom: 1vh;
    height: 3.5em;
    font-size: 12px;
  }
  .gridcamara figure p {
    font-size: 9px;
    padding: 4px;
    text-align: center;
    height: 1em;
    margin-top: 8vh;
    margin-bottom: 4vh;
  }
  .gridcamara figure a {
    font-size: 6px;
    width: 30vw;
    height: 3vh;
  }
  .gridsolar {
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    column-gap: 15vw;
    row-gap: 4vh;
    justify-content: center;
    margin-top: 20vh;
    margin-right: 2em;
  }
  .gridsolar figure {
    width: 40vw;
    height: 39vh;
    border: black 3px solid;
    border-radius: 10px;
    background-color: white;
    text-align: center;
  }
  .gridsolar figure img {
    width: 24vw;
    height: 15vh;
    padding: 5px;
  }
  .gridsolar figure figcaption, .gridcamara .figure .gridsolar figure figcaption, .gridsolar figure .figure figcaption, .gridsolar .figure figure figcaption {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 10px;
    height: 5em;
    padding: 10px;
  }
  .gridsolar figure p {
    font-size: 8px;
    padding: 10px;
  }
  .gridsolar figure a {
    font-size: 8px;
    width: 30vw;
    height: 3.5vh;
  }
  .flex {
    display: flex;
    width: 99%;
    justify-content: space-evenly;
    margin-top: 10vh;
  }
  .flex .kit {
    width: 40%;
    height: 70vh;
  }
  .flex .kit figure {
    width: 100%;
    height: 75%;
    border-radius: 10px;
  }
  .flex .kit figure img {
    width: 85%;
    height: 18vh;
    margin-bottom: 20px;
  }
  .flex .kit figure figcaption {
    font-size: 70%;
    height: 18vh;
    width: 90%;
  }
  .flex .kit figure p {
    font-size: 70%;
    height: 5%;
  }
  .flex .kit figure a {
    font-size: 10px;
  }
  .texto {
    height: 44vh;
    margin-top: 10vh;
  }
  .texto img {
    height: 40vh;
  }
  .texto .card-img-overlay {
    margin-left: 15%;
    margin-top: 10%;
  }
  .texto .card-img-overlay .nosotrost {
    font-size: 60%;
    width: 60vw;
    height: 25vh;
  }
  .contact_form {
    background-color: #5d74df;
    width: 65vw;
    height: 55vh;
    margin-left: 18vw;
    margin-top: 10vh;
    border-radius: 20px;
  }
  .contact_form .formulario h1 {
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 5px;
  }
  .contact_form .formulario h3 {
    font-size: 10px;
    text-align: center;
    margin-bottom: 5px;
  }
  .contact_form .formulario button {
    font-size: 10px;
    width: 100%;
    height: 4vh;
  }
  .contact_form .formulario input {
    width: 100%;
    height: 3vh;
  }
  .contact_form .formulario .texto_mensaje {
    width: 100%;
    height: 5vh;
  }
}
@media (min-width: 320px) and (max-width: 389px) {
  body {
    background-image: url(../img/3.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .anuncio {
    width: 100vw;
    height: 6vh;
  }
  .anuncio h1 {
    font-size: 80%;
  }
  .navbar .navbar-brand img {
    width: 24vw;
    border-radius: 10px;
  }
  .navbar #navbarSupportedContent li {
    background-color: #4c6bf8;
    margin-top: 10px;
    width: 70%;
    border-radius: 10px;
  }
  .navbar #navbarSupportedContent li a {
    margin-left: 15px;
  }
  main .contenedor {
    display: block;
    width: 94vw;
    height: 75%;
    margin-top: 10vh;
  }
  main .contenedor .row .col-md-6 img {
    height: 30vh;
    width: 95vw;
  }
  main .contenedor .row .col-md-6 .card-text {
    margin-top: 5px;
    text-align: start;
    color: white;
    font-size: 80%;
    width: 85vw;
    height: 22vh;
    text-align: center;
  }
  main .contenedor .row .col-md-6 .card-text3 {
    text-align: start;
    color: white;
    font-size: 70%;
    width: 85vw;
    height: 22vh;
    text-align: center;
  }
  .footer {
    background-color: #4c6bf8;
    width: 100%;
    height: 14vh;
    display: flex;
    position: absolute;
  }
  .footer .p img {
    margin-top: 20px;
    width: 4em;
    background-color: white;
    border-radius: 10px;
    border: black 1px solid;
  }
  .footer .p h1 {
    margin-top: 20px;
    color: black;
    width: 70%;
    font-size: 55%;
  }
  .footer .p h2 {
    margin-top: 20px;
    color: black;
    width: 60%;
    font-size: 55%;
  }
  .footer .mapa {
    display: none;
  }
  .gridcamara {
    display: grid;
    grid-template-columns: repeat(1, 60vw);
    column-gap: 25px;
    justify-content: center;
    margin-top: 10vh;
  }
  .gridcamara figure {
    width: 60vw;
    height: 37vh;
    padding: 5px;
  }
  .gridcamara figure img {
    width: 35vw;
    height: 15vh;
    padding: 5px;
  }
  .gridcamara figure figcaption, .gridcamara figure .figure figcaption, .gridcamara .figure figure figcaption, .gridsolar .figure .gridcamara figure figcaption {
    margin-top: 10px;
    margin-bottom: 1vh;
    height: 5em;
    font-size: 11px;
    text-align: center;
  }
  .gridcamara figure p {
    font-size: 8px;
    padding: 4px;
    text-align: center;
    height: 3em;
  }
  .gridcamara figure a {
    font-size: 6px;
    width: 30vw;
    height: 3vh;
  }
  .gridsolar {
    display: grid;
    grid-template-columns: repeat(1, 60vw);
    column-gap: 15vw;
    row-gap: 4vh;
    justify-content: center;
    margin-top: 20vh;
  }
  .gridsolar figure {
    width: 55vw;
    height: 40vh;
    border: black 3px solid;
    border-radius: 10px;
    background-color: white;
    text-align: center;
  }
  .gridsolar figure img {
    width: 30vw;
    height: 15vh;
    padding: 5px;
  }
  .gridsolar figure figcaption, .gridcamara .figure .gridsolar figure figcaption, .gridsolar figure .figure figcaption, .gridsolar .figure figure figcaption {
    margin-bottom: 5px;
    font-size: 11px;
    height: 5em;
    padding: 10px;
  }
  .gridsolar figure p {
    font-size: 8px;
  }
  .gridsolar figure a {
    font-size: 8px;
    width: 30vw;
    height: 4vh;
  }
  .flex {
    display: flex;
    width: 99%;
    justify-content: space-evenly;
    margin-top: 10vh;
    padding: 10px;
  }
  .flex .kit {
    width: 60%;
    height: 50vh;
    margin-bottom: 5vh;
  }
  .flex .kit figure {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .flex .kit figure img {
    width: 85%;
    height: 22vh;
    padding: 5px;
  }
  .flex .kit figure figcaption {
    font-size: 70%;
    height: 25%;
    width: 90%;
    margin-left: 5%;
  }
  .flex .kit figure p {
    font-size: 70%;
  }
  .flex .kit figure a {
    font-size: 10px;
  }
  .texto {
    margin-top: 10vh;
    height: 53vh;
  }
  .texto img {
    opacity: 0.8;
    height: 40vh;
  }
  .texto .card-img-overlay {
    margin-left: 15%;
    margin-top: 12%;
  }
  .texto .card-img-overlay .nosotrost {
    font-size: 50%;
    font-family: sans-serif;
    width: 60vw;
    height: 25vh;
    padding: 6%;
    color: white;
    text-align: center;
  }
  .contact_form {
    background-color: #5d74df;
    width: 70vw;
    height: 52vh;
    margin-left: 15vw;
    margin-top: 5vh;
    border-radius: 20px;
    padding: 5px;
  }
  .contact_form .formulario {
    padding: 5px;
  }
  .contact_form .formulario h1 {
    font-size: 13px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 5px;
  }
  .contact_form .formulario h3 {
    font-size: 10px;
    text-align: center;
    margin-bottom: 8px;
  }
  .contact_form .formulario button {
    font-size: 10px;
    width: 90%;
    height: 4vh;
    margin-left: 10px;
  }
  .contact_form .formulario input {
    margin-left: 10px;
    width: 90%;
    height: 3vh;
  }
  .contact_form .formulario .texto_mensaje {
    width: 90%;
    height: 4vh;
    margin-left: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
