@charset "UTF-8";
body {
  background-image: url(../img/escritorio-computadora-portatil-taza-cafe-calendario.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
}

.info {
  margin-top: 20vh;
  width: 15vw;
  height: 6vh;
  border-radius: 5px;
  text-align: center;
  font-size: 23px;
  color: black;
  font-family: sans-serif;
  background-color: red;
}

.figure {
  width: 18vw;
  height: 68vh;
  background-color: white;
  border: black 2px solid;
  border-radius: 10px;
}

.producto, .flex .kit .figure img, .tercera .gridsolar .figure img {
  width: 10vw;
  height: 20vh;
  padding: 10px;
}

figcaption, .flex .kit .figure figcaption, .tercera .gridsolar .figure figcaption {
  width: 90%;
  height: 10em;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.precio, .flex .kit .figure p, .tercera .gridsolar .figure p {
  width: 90%;
  height: 3em;
  text-align: center;
  margin-top: 1em;
  margin-left: 5px;
}

.btn, .flex .kit .figure .btn, .tercera .gridsolar .figure .btn {
  width: 12vw;
  height: 5vh;
  font-size: 14px;
  background-color: #3d5ce4;
}

footer, .footer .p h2, .footer .p h1 {
  color: white;
  width: 45%;
  font-size: 20px;
}

.anuncio {
  background-color: #f8b34c;
  width: 100%;
  height: 7vh;
  text-align: center;
  font-family: sans-serif;
  animation: movimiento 2s linear infinite;
}
.anuncio h1 {
  font-size: 2em;
  padding: 8px;
}

.navbar { /*
position: fixed;

width: 100%;
height: auto;
margin-top: 1vh;

*/ }
.navbar .logo img {
  background-color: white;
  width: 10vw;
  border-radius: 10px;
  margin-left: 25px;
}
.navbar .navbar-toggler {
  background-color: rgba(153, 150, 147, 0.6980392157);
  border: black 1px solid;
}
.navbar #navbarSupportedContent li a {
  color: white;
  font-family: "roboto", sans-serif;
  font-size: 1.6em;
  margin-right: 3em;
  transition: 0.5s;
  object-fit: cover;
}
.navbar #navbarSupportedContent li a:hover {
  transform: scale(1.3);
}
.navbar #navbarSupportedContent svg {
  width: 5vw;
  height: 5vh;
}

.total-productos {
  position: absolute;
  width: 55%;
  height: 80%;
  top: 0;
  right: 0;
  background-color: rgb(245, 194, 56);
  padding: 0.2rem 0.5rem;
  border-radius: 70%;
  color: rgb(5, 5, 5);
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.total {
  background-color: #fcbf4d;
  position: absolute;
  width: 16vw;
  color: black;
  border: black 2px solid;
  margin-left: 15px;
  margin-top: 15px;
  padding: 5px;
}

.producto-carrito div {
  border: rgb(3, 3, 3) 2px solid;
  height: 33vh;
  width: 40vw;
  text-align: center;
}

.producto-carrito img {
  width: 6vw;
  height: 10vh;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 3vh;
}

.precio-carrito {
  font-size: 22px;
  height: 4vh;
}

.producto-carrito h6 {
  font-size: 20px;
  height: 5vh;
  color: red;
}

.producto-carrito span {
  background-color: red;
  color: white;
  padding: 0.8em;
  border-radius: 20%;
  cursor: pointer;
}

.contenedor {
  background-color: rgba(0, 0, 0, 0.726);
  width: 98%;
  height: 61%;
  margin-top: 25vh;
  margin-left: 8px;
}
.contenedor .row {
  justify-content: center;
}
.contenedor .row .col-md-6 img {
  margin-left: 1px;
  height: 61vh;
  width: 93vw;
  padding: 5px;
}
.contenedor .row .card-text {
  color: white;
  font-size: 35px;
  width: 40vw;
  margin-top: 40px;
  font-family: "roboto", sans-serif;
}
.contenedor .row .card-text3 {
  color: white;
  font-size: 30px;
  width: 45vw;
  margin-top: 40px;
  font-family: "roboto", sans-serif;
}

.segunda {
  background-image: url(../img/camaras.webp);
}
.segunda .gridcamara {
  margin-top: 40vh;
}
.segunda .gridcamara .contenedor-productos {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  column-gap: 45px;
  justify-content: center;
  margin-top: 25vh;
  height: 100%;
  justify-content: center;
  transition: 0.5s;
}
.segunda .gridcamara .contenedor-productos .figure {
  width: 18vw;
  height: 57vh;
  background-color: white;
  border: black 3px solid;
  border-radius: 10px;
  text-align: center;
}
.segunda .gridcamara .contenedor-productos .figure div .img {
  width: 12vw;
  height: 20vh;
  margin-bottom: 3vh;
}
.segunda .gridcamara .contenedor-productos .figure .titulo-producto {
  font-size: 20px;
  height: 15vh;
}
.segunda .gridcamara .contenedor-productos .figure .precio-producto {
  font-size: 25px;
  height: 6vh;
}
.segunda .gridcamara .contenedor-productos .figure .boton-añadir-carrito {
  padding: 8px;
  color: black;
  background-color: #3d5ce4;
  font-size: 25px;
  text-decoration: none;
  border-radius: 5px;
}
.segunda .gridcamara .contenedor-productos .figure .boton-añadir-carrito:hover {
  background-color: black;
  color: white;
  border: none;
}

.tercera {
  background-image: url(../img/paneles.webp);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70%;
}
.tercera .gridsolar {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: space-evenly;
  margin-top: 25vh;
  height: 100vh;
  justify-content: center;
  margin-bottom: 30vh;
}
.tercera .gridsolar .figure {
  width: 18vw;
  height: 55vh;
  background-color: white;
  border: black 3px solid;
  border-radius: 10px;
  text-align: center;
}
.tercera .gridsolar .figure .btn {
  transition: 0.5s;
  object-fit: cover;
}
.tercera .gridsolar .figure .btn:hover {
  transform: scale(1.2);
  background-color: black;
  color: white;
  border: none;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 8.5%;
  margin-top: 25vh;
  margin-bottom: 20vh;
}
.flex .kit {
  width: 25vw;
}
.flex .kit .figure {
  width: 18vw;
  height: 55vh;
  background-color: white;
  border: rgb(8, 8, 8) 3px solid;
  text-align: center;
}
.flex .kit .figure .btn {
  transition: 0.5s;
  object-fit: cover;
}
.flex .kit .figure .btn:hover {
  transform: scale(1.2);
  background-color: black;
  color: white;
  border: none;
}

.footer {
  background-color: rgba(133, 130, 130, 0.74);
  margin-top: 24%;
  width: 100%;
  height: 28vh;
  display: flex;
  position: absolute;
  text-align: center;
  justify-content: center;
}
.footer .p {
  margin-top: 30px;
  width: 25vw;
  height: 20vh;
  text-align: start;
  margin-left: 5%;
}
.footer .p img {
  background-color: white;
  width: 18vh;
  border: black 2px solid;
  border-radius: 10px;
}
.footer .p h1 {
  color: black;
  font-size: 1.5em;
}
.footer .p h2 {
  width: 20vw;
  color: black;
  font-size: 1.5em;
}

footer .autor, .footer .p h1 .autor, .footer .p h2 .autor {
  background-color: white;
  width: 100%;
  height: 5vh;
  display: flex;
  position: absolute;
  margin-top: 40%;
  margin-bottom: 5px;
}
footer .autor p, .footer .p h1 .autor p, .footer .p h2 .autor p {
  color: black;
  margin-left: 35%;
  font-size: 1.2em;
}
footer .svg, .footer .p h1 .svg, .footer .p h2 .svg {
  display: flex;
  position: absolute;
  margin-top: 36%;
  background-color: #b1732d;
  width: 100%;
  height: 12vh;
  justify-content: center;
}
footer .svg svg, .footer .p h1 .svg svg, .footer .p h2 .svg svg {
  margin-left: 4vw;
  padding: 5px;
  width: 5vw;
  height: 7vh;
}

.cuarta {
  background-image: url(../img/nosotros.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10%;
}
.cuarta .texto .card {
  width: 70vw;
  height: 60vh;
  margin-left: 15%;
  margin-top: 15vh;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.651);
  color: black;
  border: black 2px solid;
}
.cuarta .texto .card .nosotrost {
  font-size: 40px;
  padding: 15px;
}

.contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}
.contacto .contact_form {
  background-color: #788be2;
  width: 30vw;
  height: 75vh;
  margin-right: 150px;
  border-radius: 20px;
}
.contacto .contact_form .formulario {
  padding: 20px;
}
.contacto .contact_form .formulario h1 {
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 25px;
}
.contacto .contact_form .formulario h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
}
.contacto .contact_form .formulario label {
  font-size: 25px;
}
.contacto .contact_form .formulario input {
  width: 100%;
  height: 5vh;
}
.contacto .contact_form .formulario button {
  width: 100%;
}
.contacto .contact_form .formulario .texto_mensaje {
  width: 100%;
  height: 15vh;
}
.contacto .mapa {
  width: 30vw;
  height: 60vh;
  margin-top: 5vh;
  border-radius: 20px;
}

@media (min-width: 1026px) and (max-width: 1250px) {
  .anuncio {
    animation: none;
    height: 8vh;
  }
  .anuncio h1 {
    font-size: 1.5em;
  }
  .navbar {
    background-color: rgba(0, 0, 0, 0.637);
    height: auto;
  }
  .navbar .logo img {
    width: 7em;
  }
  .navbar .container-fluid {
    justify-content: end;
  }
  .navbar .container-fluid .navbar-toggler {
    width: 6vw;
    height: 8vh;
    margin-right: 15px;
  }
  .navbar .container-fluid #navbarSupportedContent ul li {
    margin-top: 5px;
    background-color: rgba(3, 3, 3, 0.527);
    width: 40vw;
  }
  .navbar .container-fluid #navbarSupportedContent ul li a {
    color: rgb(255, 254, 254);
    font-size: 1.2em;
    font-family: sans-serif;
    margin-left: 20px;
  }
  .navbar .container-fluid #navbarSupportedContent ul li a:hover {
    transform: scale(1);
  }
  .contenedor {
    width: 98%;
    height: 50vh;
    margin-top: 15vh;
    justify-content: center;
    background-color: rgb(12, 12, 12);
  }
  .contenedor .row .col-md-6 .img-fluid {
    margin-left: 1px;
    height: 50vh;
    width: 98vw;
    padding: 5px;
  }
  .contenedor .row .col-md-6 .card-text {
    color: rgb(250, 249, 249);
    font-size: 18px;
    width: 45vw;
    margin-top: 40px;
  }
  .contenedor .row .col-md-6 .card-text3 {
    font-size: 16px;
  }
  .footer {
    background-color: rgba(133, 130, 130, 0.74);
    margin-top: 20%;
    width: 100%;
    height: 22vh;
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
  }
  .footer .p {
    margin-top: 25px;
    width: 25vw;
    height: 20vh;
    text-align: start;
    margin-left: 5%;
  }
  .footer .p img {
    background-color: white;
    width: 15vh;
    border: black 2px solid;
    border-radius: 10px;
  }
  .footer .p h1 {
    width: 45%;
    color: black;
    font-size: 0.8em;
  }
  .footer .p h2 {
    width: 20vw;
    color: black;
    font-size: 0.8em;
  }
  footer .autor, .footer .p h1 .autor, .footer .p h2 .autor {
    background-color: white;
    width: 100%;
    height: 6vh;
    display: flex;
    position: absolute;
    margin-top: 36%;
  }
  footer .autor p, .footer .p h1 .autor p, .footer .p h2 .autor p {
    color: black;
    font-size: 1em;
    margin-left: 25%;
  }
  footer .svg, .footer .p h1 .svg, .footer .p h2 .svg {
    display: flex;
    position: absolute;
    margin-top: 32%;
    background-color: #b1732d;
    width: 100%;
    height: 8vh;
    justify-content: center;
  }
  footer .svg svg, .footer .p h1 .svg svg, .footer .p h2 .svg svg {
    margin-left: 4vw;
    padding: 5px;
  }
  .segunda .gridcamara {
    justify-content: space-evenly;
  }
  .segunda .gridcamara .figure {
    width: 20vw;
    height: 70vh;
    background-color: white;
    border: black 3px solid;
    border-radius: 10px;
    text-align: center;
  }
  .segunda .gridcamara .figure img {
    width: 60%;
    height: 15vh;
    padding: 5px;
  }
  .segunda .gridcamara .figure .btn {
    font-size: 12px;
    width: 90%;
    height: 5vh;
  }
  .tercera .gridsolar {
    justify-content: space-evenly;
  }
  .tercera .gridsolar .figure {
    width: 20vw;
    height: 66vh;
    background-color: white;
    border: black 3px solid;
    border-radius: 10px;
    text-align: center;
  }
  .tercera .gridsolar .figure figcaption {
    height: 20vh;
  }
  .tercera .gridsolar .figure img {
    width: 60%;
    height: 19vh;
    padding: 15px;
  }
  .tercera .gridsolar .figure .btn {
    font-size: 12px;
    width: 90%;
    height: 5vh;
  }
  .flex {
    display: flex;
    justify-content: space-evenly;
    width: 99%;
    margin-top: 20vh;
    margin-left: 20px;
  }
  .flex .kit {
    width: 25vw;
    height: 70vh;
  }
  .flex .kit .figure {
    width: 20vw;
    height: 63vh;
    background-color: white;
    border: black 3px solid;
    text-align: center;
  }
  .flex .kit .figure img {
    width: 60%;
    height: 30%;
    padding: 5px;
    margin-bottom: 5%;
  }
  .flex .kit .figure figcaption {
    width: 90%;
    height: 20vh;
    margin-bottom: 5%;
    margin-top: 0;
    font-size: 75%;
    margin-left: 5%;
  }
  .flex .kit .figure p {
    font-size: 15px;
    height: 3em;
  }
  .flex .kit .figure .btn {
    font-size: 12px;
    width: 90%;
    height: 5vh;
  }
  .cuarta .texto {
    margin-top: 10vh;
  }
  .cuarta .texto img {
    height: 40%;
  }
  .cuarta .texto .card-img-overlay {
    margin-left: 12vw;
    margin-top: 15vh;
  }
  .cuarta .texto .card .nosotrost {
    font-size: 1.5em;
  }
  .contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    background-color: #788be2;
  }
  .contacto .contact_form {
    background-color: #3d5ce4;
    width: 35%;
    height: 50%;
    margin-bottom: 5vh;
    margin-right: 40px;
    border-radius: 20px;
  }
  .contacto .contact_form .formulario {
    padding: 15px;
  }
  .contacto .contact_form .formulario label {
    font-size: 1em;
  }
  .contacto .contact_form .formulario h1 {
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 5px;
  }
  .contacto .contact_form .formulario h3 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
  }
  .contacto .mapa {
    width: 40vw;
    height: 40vh;
    margin-top: 5vh;
    border-radius: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .anuncio {
    background-color: #3d5ce4;
    width: 100%;
    height: 7vh;
    text-align: center;
    font-family: sans-serif;
    animation: none;
    background-color: #f8b34c;
  }
  .anuncio h1 {
    font-size: 20px;
    padding: 6px;
  }
  .navbar {
    background-color: transparent;
    margin-top: 1px;
  }
  .navbar .logo img {
    width: 12vw;
  }
  .navbar .container-fluid {
    justify-content: end;
  }
  .navbar .container-fluid .navbar-toggler {
    margin-right: 2em;
    border: black 1px solid;
  }
  .navbar .container-fluid #navbarSupportedContent ul li {
    margin-top: 5px;
    background-color: rgba(3, 3, 3, 0.527);
    width: 40vw;
  }
  .navbar .container-fluid #navbarSupportedContent ul li a {
    color: rgb(255, 254, 254);
    font-size: 0.8em;
    font-family: sans-serif;
    margin-left: 20px;
  }
  .navbar .container-fluid #navbarSupportedContent ul li a:hover {
    transform: scale(1);
  }
  .navbar .container-fluid .carrito {
    margin-right: 15px;
  }
  .contenedor {
    width: 98%;
    height: 65%;
    margin-top: 6vh;
    justify-content: center;
    background-color: rgb(12, 12, 12);
  }
  .contenedor .row .col-md-6 {
    justify-content: center;
  }
  .contenedor .row .col-md-6 .img-fluid {
    margin-left: 1px;
    height: 42vh;
    width: 98vw;
    padding: 5px;
  }
  .contenedor .row .col-md-6 .card-text {
    color: rgb(250, 249, 249);
    font-size: 14px;
    width: 45vw;
    margin-top: 40px;
  }
  .contenedor .row .col-md-6 .card-text3 {
    font-size: 12px;
  }
  .footer {
    background-color: rgba(133, 130, 130, 0.74);
    margin-top: 19%;
    width: 100%;
    height: 19vh;
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
  }
  .footer .p {
    margin-top: 25px;
    width: 25vw;
    height: 8vh;
    text-align: start;
    margin-left: 1%;
  }
  .footer .p img {
    background-color: white;
    width: 14vh;
    border: black 2px solid;
    border-radius: 10px;
  }
  .footer .p h1 {
    width: 45%;
    color: black;
    font-size: 0.7em;
  }
  .footer .p h2 {
    width: 45%;
    color: black;
    font-size: 0.7em;
  }
  footer .autor, .footer .p h1 .autor, .footer .p h2 .autor {
    background-color: white;
    width: 100%;
    height: 5vh;
    display: flex;
    position: absolute;
    margin-top: 38%;
  }
  footer .autor p, .footer .p h1 .autor p, .footer .p h2 .autor p {
    color: black;
    margin-left: 25%;
    font-size: 0.7em;
  }
  footer .svg, .footer .p h1 .svg, .footer .p h2 .svg {
    display: flex;
    position: absolute;
    margin-top: 32%;
    background-color: #b1732d;
    width: 100%;
    height: 9vh;
    justify-content: center;
  }
  footer .svg svg, .footer .p h1 .svg svg, .footer .p h2 .svg svg {
    margin-left: 4vw;
    padding: 5px;
  }
  .segunda .gridcamara {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    column-gap: 25px;
    margin-top: 6vh;
    margin-bottom: 20vh;
  }
  .segunda .gridcamara .figure {
    width: 25vw;
    height: 52vh;
    background-color: white;
    border: black 2px solid;
    border-radius: 10px;
    text-align: center;
    margin-left: 25px;
  }
  .segunda .gridcamara .figure img {
    width: 50%;
    height: 14vh;
    padding: 5px;
  }
  .segunda .gridcamara .figure figcaption {
    width: 85%;
    height: 9vh;
    margin-bottom: 7vh;
    margin-top: 20px;
    font-size: 11px;
  }
  .segunda .gridcamara .figure p {
    font-size: 13px;
    text-align: center;
    height: 8vh;
  }
  .segunda .gridcamara .figure .btn {
    font-size: 12px;
    width: 90%;
    height: 5vh;
  }
  .tercera .gridsolar {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    margin-top: 6vh;
    margin-bottom: 20vh;
    height: 50%;
  }
  .tercera .gridsolar .figure {
    width: 25vw;
    height: 55vh;
    background-color: rgb(253, 251, 251);
    border: black 2px solid;
    border-radius: 10px;
    text-align: center;
    margin-left: 25px;
  }
  .tercera .gridsolar .figure img {
    width: 65%;
    height: 19vh;
    padding: 15px;
  }
  .tercera .gridsolar .figure figcaption {
    width: 85%;
    height: 14vh;
    margin-bottom: 5vh;
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
  }
  .tercera .gridsolar .figure p {
    text-align: center;
    height: 4vh;
  }
  .tercera .gridsolar .figure .btn {
    font-size: 12px;
    width: 90%;
    height: 5vh;
  }
  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20vh;
    margin-top: 6vh;
    margin-left: 20px;
    column-gap: 5px;
  }
  .flex .kit {
    width: 25vw;
    height: 60vh;
  }
  .flex .kit .figure {
    width: 25vw;
    height: 56vh;
    background-color: white;
    border: black 2px solid;
    text-align: center;
  }
  .flex .kit .figure img {
    width: 14vw;
    height: 15vh;
    padding: 5px;
    margin-bottom: 5%;
  }
  .flex .kit .figure figcaption {
    width: 90%;
    height: 18vh;
    margin-bottom: 5%;
    margin-top: 0;
    font-size: 70%;
    margin-left: 5%;
  }
  .flex .kit .figure p {
    font-size: 15px;
    height: 3em;
  }
  .flex .kit .figure .btn {
    font-size: 12px;
    width: 90%;
    height: 5vh;
  }
  .cuarta .texto {
    margin-bottom: 5vh;
    margin-top: 1vh;
  }
  .cuarta .texto .card {
    width: 70vw;
    height: 60vh;
    margin-left: 15%;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.651);
    color: black;
    border: black 2px solid;
  }
  .cuarta .texto .card .nosotrost {
    font-size: 20px;
    padding: 10px;
  }
  .contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
  }
  .contacto .contact_form {
    background-color: #788be2;
    width: 35%;
    height: 45%;
    margin-bottom: 5vh;
    margin-right: 40px;
    border-radius: 20px;
  }
  .contacto .contact_form .formulario {
    padding: 15px;
  }
  .contacto .contact_form .formulario label {
    font-size: 1em;
  }
  .contacto .contact_form .formulario h1 {
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 5px;
  }
  .contacto .contact_form .formulario h3 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
  }
  .contacto .mapa {
    width: 40vw;
    height: 40vh;
    margin-top: 5vh;
    border-radius: 20px;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .anuncio {
    height: 6vh;
    animation: none;
  }
  .anuncio h1 {
    font-size: 17px;
  }
  .navbar {
    background-color: transparent;
  }
  .navbar .logo img {
    width: 15vw;
  }
  .navbar .container-fluid {
    justify-content: end;
  }
  .navbar .container-fluid #navbarSupportedContent li {
    margin-top: 5px;
    background-color: rgba(8, 8, 8, 0.527);
    width: 55vw;
  }
  .navbar .container-fluid #navbarSupportedContent li a {
    color: white;
    margin-left: 10px;
    font-size: 13px;
  }
  .navbar .container-fluid #navbarSupportedContent li a:hover {
    transform: scale(1);
  }
  .navbar .container-fluid #navbarSupportedContent li .item {
    padding: 5px;
  }
  main .contenedor {
    display: block;
    width: 98%;
    height: 70vh;
    margin-top: 10vh;
    margin-left: 6px;
  }
  main .contenedor .row .col-md-6 img {
    height: 40vh;
    width: 98vw;
  }
  main .contenedor .row .col-md-6 .card-text {
    margin-top: 5px;
    color: white;
    font-size: 15px;
    width: 93vw;
    height: 23vh;
    text-align: center;
  }
  main .contenedor .row .col-md-6 .card-text3 {
    font-size: 13px;
    width: 100%;
    margin-top: 2px;
    text-align: center;
  }
  .footer {
    background-color: rgba(133, 130, 130, 0.74);
    margin-top: 16%;
    width: 100%;
    height: 19vh;
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
  }
  .footer .p {
    margin-top: 25px;
    width: 25vw;
    height: 9vh;
    text-align: start;
    margin-left: 5%;
  }
  .footer .p img {
    background-color: white;
    width: 11vh;
    border: black 2px solid;
    border-radius: 10px;
  }
  .footer .p h1 {
    width: 45%;
    color: black;
    font-size: 0.6em;
  }
  .footer .p h2 {
    width: 20vw;
    color: black;
    font-size: 0.6em;
  }
  footer .autor, .footer .p h1 .autor, .footer .p h2 .autor {
    background-color: white;
    width: 100%;
    height: 6vh;
    display: flex;
    position: absolute;
    margin-top: 40%;
  }
  footer .autor p, .footer .p h1 .autor p, .footer .p h2 .autor p {
    color: black;
    margin-left: 17%;
    font-size: 0.8em;
  }
  footer .svg, .footer .p h1 .svg, .footer .p h2 .svg {
    display: flex;
    position: absolute;
    margin-top: 33%;
    background-color: #b1732d;
    width: 100%;
    height: 8vh;
    justify-content: center;
  }
  footer .svg svg, .footer .p h1 .svg svg, .footer .p h2 .svg svg {
    margin-left: 4vw;
    width: 7vw;
  }
  .segunda .gridcamara {
    grid-template-columns: repeat(2, 40vw);
    justify-content: center;
    margin-top: 10vh;
  }
  .segunda .gridcamara .figure {
    width: 35vw;
    height: 51vh;
    background-color: white;
    border: black 3px solid;
    border-radius: 10px;
    text-align: center;
  }
  .segunda .gridcamara .figure img {
    width: 47%;
    height: 12vh;
    padding: 5px;
  }
  .segunda .gridcamara .figure figcaption {
    width: 85%;
    height: 16vh;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 0.8em;
  }
  .segunda .gridcamara .figure .btn {
    font-size: 12px;
    width: 90%;
    height: 5vh;
  }
  .tercera .gridsolar {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    column-gap: 10vw;
    row-gap: 5vh;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 80vh;
    height: 150vh;
  }
  .tercera .gridsolar .figure {
    width: 35vw;
    height: 51vh;
    background-color: white;
    border: black 3px solid;
    border-radius: 10px;
    text-align: center;
  }
  .tercera .gridsolar .figure figcaption {
    width: 90%;
    height: 10vh;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 12px;
  }
  .tercera .gridsolar .figure img {
    width: 50%;
    height: 17vh;
    padding: 15px;
  }
  .tercera .gridsolar .figure p {
    height: 10vh;
  }
  .tercera .gridsolar .figure .btn {
    font-size: 12px;
    width: 90%;
    height: 5vh;
  }
  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10vh;
    margin-left: 10px;
    column-gap: 5px;
    justify-content: center;
  }
  .flex .kit {
    width: 40vw;
    height: 70vh;
  }
  .flex .kit .figure {
    width: 35vw;
    height: 52vh;
    background-color: white;
    border: black 3px solid;
    text-align: center;
  }
  .flex .kit .figure img {
    width: 17vw;
    height: 16vh;
    padding: 5px;
    margin-bottom: 5%;
  }
  .flex .kit .figure figcaption {
    width: 90%;
    height: 15vh;
    margin-bottom: 5%;
    margin-top: 0;
    font-size: 60%;
    margin-left: 5%;
  }
  .flex .kit .figure p {
    font-size: 15px;
    height: 2em;
  }
  .flex .kit .figure .btn {
    font-size: 12px;
    width: 90%;
    height: 5vh;
  }
  .cuarta .texto .card {
    width: 70vw;
    height: 60vh;
    margin-left: 15%;
    margin-top: 5vh;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.651);
    color: black;
    border: black 2px solid;
  }
  .cuarta .texto .card .nosotrost {
    font-size: 18px;
    padding: 10px;
  }
  .contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
  }
  .contacto .contact_form {
    background-color: #788be2;
    width: 45vw;
    height: 73vh;
    border-radius: 20px;
    margin-right: 5px;
  }
  .contacto .contact_form .formulario {
    padding: 10px;
  }
  .contacto .contact_form .formulario h1 {
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 25px;
  }
  .contacto .contact_form .formulario h3 {
    font-size: 10px;
    text-align: center;
    margin-bottom: 25px;
  }
  .contacto .contact_form .formulario label {
    font-size: 12px;
  }
  .contacto .contact_form .formulario input {
    width: 100%;
    height: 4vh;
  }
  .contacto .contact_form .formulario button {
    width: 100%;
    height: 5vh;
  }
  .contacto .contact_form .formulario .texto_mensaje {
    width: 100%;
    height: 5vh;
  }
  .contacto .mapa {
    width: 45vw;
    height: 40vh;
    margin-top: 5vh;
    border-radius: 20px;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  .anuncio {
    height: 6vh;
    animation: none;
  }
  .anuncio h1 {
    font-size: 100%;
  }
  .navbar {
    background-color: transparent;
  }
  .navbar .logo img {
    width: 15vw;
  }
  .navbar .container-fluid {
    justify-content: end;
  }
  .navbar .container-fluid #navbarSupportedContent li {
    background-color: rgba(3, 3, 3, 0.527);
    width: 50vw;
    margin-top: 5px;
  }
  .navbar .container-fluid #navbarSupportedContent li a {
    color: white;
    margin-left: 10px;
    font-size: 0.8em;
  }
  .navbar .container-fluid #navbarSupportedContent li a:hover {
    transform: scale(1);
  }
  main .contenedor {
    display: block;
    width: 95%;
    height: 70vh;
    margin-top: 10vh;
    margin-left: 12px;
  }
  main .contenedor .row .col-md-6 img {
    height: 38vh;
    width: 98vw;
  }
  main .contenedor .row .col-md-6 .card-text {
    padding: 10px;
    color: white;
    font-size: 90%;
    width: 90vw;
    height: 25vh;
    margin-top: 4px;
    text-align: center;
  }
  main .contenedor .row .col-md-6 .card-text3 {
    font-size: 78%;
    width: 100%;
    height: 22vh;
    margin-top: 5px;
    text-align: center;
  }
  .footer {
    background-color: rgba(133, 130, 130, 0.74);
    margin-top: 10%;
    width: 100%;
    height: 17vh;
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
  }
  .footer .p {
    margin-top: 25px;
    width: 25vw;
    height: 8vh;
    text-align: start;
    margin-left: 5%;
  }
  .footer .p img {
    background-color: white;
    width: 10vh;
    border: black 1px solid;
    border-radius: 10px;
  }
  .footer .p h1 {
    width: 45%;
    color: black;
    font-size: 0.5em;
  }
  .footer .p h2 {
    width: 20vw;
    color: black;
    font-size: 0.5em;
  }
  footer .autor, .footer .p h1 .autor, .footer .p h2 .autor {
    background-color: white;
    width: 100%;
    height: 5vh;
    display: flex;
    position: absolute;
    margin-top: 38%;
  }
  footer .autor p, .footer .p h1 .autor p, .footer .p h2 .autor p {
    color: black;
    margin-left: 12%;
    font-size: 0.7em;
  }
  footer .svg, .footer .p h1 .svg, .footer .p h2 .svg {
    display: flex;
    position: absolute;
    margin-top: 29%;
    background-color: #b1732d;
    width: 100vw;
    height: 8vh;
    justify-content: center;
  }
  footer .svg svg, .footer .p h1 .svg svg, .footer .p h2 .svg svg {
    margin-left: 4vw;
    padding: 5px;
    width: 8vw;
  }
  .segunda .gridcamara {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    column-gap: 25px;
    justify-content: center;
    margin-top: 10vh;
  }
  .segunda .gridcamara .figure {
    width: 38vw;
    height: 53vh;
    background-color: white;
    padding: 5px;
    border: black 2px solid;
  }
  .segunda .gridcamara .figure img {
    width: 50%;
    height: 12vh;
    padding: 5px;
  }
  .segunda .gridcamara .figure figcaption {
    width: 90%;
    height: 15vh;
    margin-bottom: 1vh;
    margin-top: 20px;
    font-size: 0.7em;
  }
  .segunda .gridcamara .figure .btn {
    font-size: 12px;
    width: 90%;
    height: 5vh;
  }
  .tercera .gridsolar {
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    column-gap: 15vw;
    row-gap: 15vh;
    justify-content: center;
    margin-top: 10vh;
    margin-right: 40px;
    height: 50%;
  }
  .tercera .gridsolar .figure {
    width: 38vw;
    height: 51vh;
    background-color: white;
    border: black 2px solid;
    border-radius: 10px;
    text-align: center;
  }
  .tercera .gridsolar .figure img {
    width: 50%;
    height: 15vh;
    padding: 5px;
  }
  .tercera .gridsolar .figure figcaption {
    width: 85%;
    height: 14vh;
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 10px;
    font-size: 12px;
  }
  .tercera .gridsolar .figure p {
    height: 5vh;
  }
  .tercera .gridsolar .figure .btn {
    font-size: 12px;
    width: 90%;
    height: 5vh;
  }
  .flex {
    display: flex;
    width: 99%;
    justify-content: center;
    margin-top: 10vh;
    margin-left: 5px;
  }
  .flex .kit {
    width: 40%;
    height: 55vh;
  }
  .flex .kit .figure {
    width: 38vw;
    height: 52vh;
    background-color: white;
    border: black 2px solid;
  }
  .flex .kit .figure img {
    width: 65%;
    height: 15vh;
    padding: 5px;
  }
  .flex .kit .figure figcaption {
    width: 90%;
    height: 15vh;
    margin-bottom: 10%;
    margin-top: 10px;
    font-size: 65%;
    margin-left: 5%;
  }
  .flex .kit .figure p {
    font-size: 70%;
  }
  .flex .kit .figure .btn {
    font-size: 12px;
    width: 90%;
    height: 5vh;
  }
  .cuarta .texto .card {
    width: 70vw;
    height: 60vh;
    margin-left: 15%;
    margin-bottom: 10vh;
    margin-top: 5vh;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.651);
    color: black;
    border: black 2px solid;
  }
  .cuarta .texto .card .nosotrost {
    font-size: 16px;
    padding: 10px;
  }
  .contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .contacto .contact_form {
    background-color: #788be2;
    width: 60vw;
    height: 72vh;
    margin-left: 30%;
    border-radius: 20px;
  }
  .contacto .contact_form .formulario {
    padding: 10px;
  }
  .contacto .contact_form .formulario h1 {
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
  }
  .contacto .contact_form .formulario h3 {
    font-size: 10px;
    text-align: center;
  }
  .contacto .contact_form .formulario label {
    font-size: 12px;
  }
  .contacto .contact_form .formulario input {
    width: 100%;
    height: 3vh;
  }
  .contacto .contact_form .formulario button {
    width: 100%;
    height: 5vh;
  }
  .contacto .contact_form .formulario .texto_mensaje {
    width: 100%;
    height: 4vh;
  }
  .contacto .mapa {
    width: 100vw;
    height: 20vh;
    border-radius: 0;
  }
}
@media (min-width: 390px) and (max-width: 479px) {
  body {
    background-color: gray;
  }
  .anuncio {
    width: 100%;
    height: 5vh;
    animation: none;
    background-color: #4e65cf;
  }
  .anuncio h1 {
    font-size: 90%;
  }
  .navbar {
    background-color: transparent;
  }
  .navbar .logo img {
    width: 20vw;
  }
  .navbar .container-fluid {
    justify-content: end;
  }
  .navbar .container-fluid #navbarSupportedContent ul li {
    background-color: rgba(3, 3, 3, 0.527);
    width: 60vw;
    margin-top: 10px;
  }
  .navbar .container-fluid #navbarSupportedContent ul li a {
    font-size: 11px;
    margin-left: 10px;
    color: white;
  }
  .navbar .container-fluid #navbarSupportedContent ul li a:hover {
    transform: scale(1);
  }
  main .contenedor {
    display: block;
    width: 94vw;
    height: 52%;
    margin-top: 10vh;
  }
  main .contenedor .row {
    height: 58vh;
  }
  main .contenedor .row .col-md-6 {
    justify-content: center;
  }
  main .contenedor .row .col-md-6 img {
    height: 30vh;
    width: 96vw;
    margin-top: 1px;
  }
  main .contenedor .row .col-md-6 .card-text {
    margin-top: 5px;
    text-align: start;
    color: white;
    font-size: 78%;
    width: 85vw;
    height: 21vh;
    text-align: center;
  }
  main .contenedor .row .col-md-6 .card-text3 {
    font-size: 65%;
    width: 100%;
    height: 20vh;
    margin-top: 5px;
    margin-bottom: 1px;
    text-align: center;
  }
  .footer {
    background-color: rgba(133, 130, 130, 0.74);
    margin-top: 18%;
    width: 100%;
    height: 14vh;
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
  }
  .footer .p {
    width: 30vw;
    height: 6vh;
    text-align: start;
    margin-left: 5%;
    margin-top: 15px;
    justify-content: center;
  }
  .footer .p img {
    background-color: white;
    width: 8vh;
    border: black 1px solid;
    border-radius: 10px;
  }
  .footer .p h1 {
    color: black;
    font-size: 0.5em;
  }
  .footer .p h2 {
    width: 20vw;
    color: black;
    font-size: 0.5em;
  }
  footer .autor, .footer .p h1 .autor, .footer .p h2 .autor {
    background-color: white;
    width: 100%;
    height: 4vh;
    display: flex;
    position: absolute;
    margin-top: 49%;
    margin-bottom: 0.2px;
  }
  footer .autor p, .footer .p h1 .autor p, .footer .p h2 .autor p {
    color: black;
    font-size: 0.7em;
    margin-left: 15px;
  }
  footer .svg, .footer .p h1 .svg, .footer .p h2 .svg {
    display: flex;
    position: absolute;
    margin-top: 38%;
    background-color: #b1732d;
    width: 100%;
    height: 8vh;
    justify-content: center;
  }
  footer .svg svg, .footer .p h1 .svg svg, .footer .p h2 .svg svg {
    margin-left: 4vw;
    width: 9vw;
  }
  .segunda .gridcamara {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    column-gap: 25px;
    margin-top: 10vh;
  }
  .segunda .gridcamara .figure {
    width: 40vw;
    height: 48vh;
    background-color: white;
    padding: 5px;
    border: black 2px solid;
  }
  .segunda .gridcamara .figure img {
    width: 58%;
    height: 11vh;
    padding: 5px;
  }
  .segunda .gridcamara .figure figcaption {
    width: 90%;
    height: 10vh;
    margin-bottom: 1vh;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 11px;
  }
  .segunda .gridcamara .figure p {
    font-size: 12px;
    padding: 4px;
    text-align: center;
    height: 1em;
    margin-top: 8vh;
    margin-bottom: 4vh;
  }
  .segunda .gridcamara .figure .btn {
    font-size: 12px;
    width: 90%;
    height: 5vh;
    text-align: center;
  }
  .tercera .gridsolar {
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    column-gap: 15vw;
    row-gap: 4vh;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-right: 2em;
    height: 50%;
  }
  .tercera .gridsolar .figure {
    width: 40vw;
    height: 48vh;
    background-color: white;
    border: black 2px solid;
    border-radius: 10px;
    text-align: center;
  }
  .tercera .gridsolar .figure img {
    width: 60%;
    height: 13vh;
    padding: 5px;
  }
  .tercera .gridsolar .figure figcaption {
    width: 90%;
    height: 12vh;
    margin-bottom: 25px;
    margin-top: 15px;
    font-size: 12px;
    padding: 10px;
  }
  .tercera .gridsolar .figure p {
    font-size: 12px;
    padding: 5px;
    height: 5vh;
  }
  .tercera .gridsolar .figure .btn {
    font-size: 12px;
    width: 90%;
    height: 5vh;
  }
  .flex {
    display: flex;
    width: 99%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-top: 10vh;
  }
  .flex .kit {
    width: 40vw;
    height: 55vh;
  }
  .flex .kit .figure {
    width: 40vw;
    height: 51vh;
    background-color: white;
    border-radius: 10px;
  }
  .flex .kit .figure img {
    width: 65%;
    height: 14vh;
    padding: 5px;
    margin-bottom: 20px;
  }
  .flex .kit .figure figcaption {
    width: 90%;
    height: 16vh;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 10px;
    margin-left: 5px;
  }
  .flex .kit .figure p {
    font-size: 70%;
    height: 10%;
  }
  .flex .kit .figure .btn {
    font-size: 12px;
    width: 90%;
    height: 5vh;
  }
  .cuarta .texto {
    margin-top: 1px;
  }
  .cuarta .texto .card {
    width: 70vw;
    height: 55vh;
    margin-left: 15%;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.651);
    color: black;
    border: black 2px solid;
  }
  .cuarta .texto .card .nosotrost {
    font-size: 14px;
    padding: 10px;
  }
  .contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .contacto .contact_form {
    background-color: #788be2;
    width: 65vw;
    height: 72vh;
    margin-right: 5px;
    margin-left: 5%;
    border-radius: 20px;
  }
  .contacto .contact_form .formulario {
    padding: 8px;
  }
  .contacto .contact_form .formulario h1 {
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
  }
  .contacto .contact_form .formulario h3 {
    font-size: 10px;
    text-align: center;
  }
  .contacto .contact_form .formulario label {
    font-size: 10px;
  }
  .contacto .contact_form .formulario input {
    width: 100%;
    height: 4vh;
    margin-bottom: 0;
  }
  .contacto .contact_form .formulario button {
    width: 100%;
    height: 4vh;
    font-size: 10px;
  }
  .contacto .contact_form .formulario .texto_mensaje {
    width: 100%;
    height: 5vh;
  }
  .contacto .mapa {
    width: 100vw;
    height: 20vh;
    border-radius: 0px;
  }
}
@media (min-width: 320px) and (max-width: 389px) {
  body {
    background-image: url(../img/nosotros.webp);
    width: 320px;
    background-attachment: fixed;
  }
  .anuncio {
    width: 100vw;
    height: 5vh;
    animation: none;
  }
  .anuncio h1 {
    font-size: 80%;
  }
  .navbar {
    background-color: transparent;
  }
  .navbar .logo img {
    width: 12vh;
    border: black 1px solid;
  }
  .navbar .container-fluid {
    justify-content: end;
  }
  .navbar .container-fluid button {
    width: 13vw;
    height: 7vh;
  }
  .navbar .container-fluid button span {
    width: 0.8em;
  }
  .navbar .container-fluid .navbar-toggler {
    margin-right: 20px;
  }
  .navbar .container-fluid #navbarSupportedContent li {
    background-color: rgba(3, 3, 3, 0.527);
    width: 60vw;
    margin-top: 10px;
  }
  .navbar .container-fluid #navbarSupportedContent li a {
    font-size: 10px;
    margin-left: 10px;
    color: white;
  }
  .navbar .container-fluid #navbarSupportedContent li a:hover {
    transform: scale(1);
  }
  main {
    margin-left: 5px;
  }
  main .contenedor {
    display: block;
    width: 92vw;
    height: 72%;
    margin-top: 1vh;
    justify-content: center;
  }
  main .contenedor .row {
    justify-content: center;
  }
  main .contenedor .row .col-md-6 {
    margin-right: 3px;
  }
  main .contenedor .row .col-md-6 img {
    width: 92vw;
    height: 24vh;
    padding: 5px;
    height: 30vh;
  }
  main .contenedor .row .col-md-6 .card-text {
    margin-top: 5px;
    text-align: start;
    color: white;
    font-size: 70%;
    width: 85vw;
    height: 22vh;
    text-align: center;
  }
  main .contenedor .row .col-md-6 .card-text3 {
    text-align: start;
    color: white;
    font-size: 66%;
    width: 85vw;
    height: 22vh;
    text-align: center;
    margin-top: 5px;
  }
  .footer {
    background-color: rgba(133, 130, 130, 0.74);
    margin-top: 19%;
    width: 100%;
    height: 13vh;
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
  }
  .footer .p {
    width: 30vw;
    height: 5vh;
    text-align: start;
    margin-left: 5%;
    margin-top: 20px;
  }
  .footer .p img {
    background-color: white;
    width: 8vh;
    border: black 1px solid;
    border-radius: 10px;
    margin-right: 5px;
  }
  .footer .p h1 {
    color: black;
    font-size: 0.4em;
    width: 20vw;
    margin-left: 1px;
  }
  .footer .p h2 {
    width: 25vw;
    color: black;
    font-size: 0.4em;
  }
  footer .autor, .footer .p h1 .autor, .footer .p h2 .autor {
    background-color: white;
    width: 100%;
    height: 4vh;
    display: flex;
    position: absolute;
    margin-top: 29vh;
  }
  footer .autor p, .footer .p h1 .autor p, .footer .p h2 .autor p {
    color: black;
    font-size: 0.5em;
    margin-left: 25px;
  }
  footer .svg, .footer .p h1 .svg, .footer .p h2 .svg {
    display: flex;
    position: absolute;
    margin-top: 41%;
    background-color: #b1732d;
    width: 100%;
    height: 6vh;
    justify-content: center;
    align-items: center;
  }
  footer .svg svg, .footer .p h1 .svg svg, .footer .p h2 .svg svg {
    margin-left: 4vw;
    width: 10vw;
  }
  .segunda .gridcamara {
    display: grid;
    grid-template-columns: repeat(1, 60vw);
    column-gap: 25px;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
  }
  .segunda .gridcamara .figure {
    width: 60vw;
    height: 43vh;
    background-color: white;
    padding: 5px;
    border: black 2px solid;
  }
  .segunda .gridcamara .figure img {
    width: 35vw;
    height: 14vh;
    padding: 5px;
  }
  .segunda .gridcamara .figure figcaption {
    width: 90%;
    height: 10vh;
    margin-bottom: 1vh;
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
  }
  .segunda .gridcamara .figure p {
    font-size: 9px;
    padding: 4px;
    text-align: center;
    height: 3em;
  }
  .segunda .gridcamara .figure .btn {
    font-size: 12px;
    width: 90%;
    height: 5vh;
  }
  .tercera .gridsolar {
    display: grid;
    grid-template-columns: repeat(1, 60vw);
    column-gap: 15vw;
    row-gap: 4vh;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    height: 50%;
  }
  .tercera .gridsolar .figure {
    width: 60vw;
    height: 40vh;
    background-color: white;
    border: black 2px solid;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5vh;
  }
  .tercera .gridsolar .figure img {
    width: 27vw;
    height: 12vh;
    padding: 5px;
  }
  .tercera .gridsolar .figure figcaption {
    width: 90%;
    height: 9vh;
    margin-bottom: 1vh;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    margin-left: 5px;
  }
  .tercera .gridsolar .figure p {
    font-size: 14px;
    height: 4vh;
  }
  .tercera .gridsolar .figure .btn {
    font-size: 12px;
    width: 90%;
    height: 5vh;
  }
  .flex {
    display: flex;
    width: 99%;
    justify-content: center;
    margin-top: 10vh;
    padding: 10px;
  }
  .flex .kit {
    width: 55%;
    height: 50vh;
    margin-bottom: 5vh;
    margin-right: 80px;
  }
  .flex .kit .figure {
    width: 60vw;
    height: 49vh;
    background-color: white;
    border-radius: 10px;
    border: black 2px solid;
  }
  .flex .kit .figure img {
    width: 60%;
    height: 18vh;
    padding: 5px;
  }
  .flex .kit .figure figcaption {
    width: 90%;
    height: 13vh;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 65%;
    margin-left: 5%;
  }
  .flex .kit .figure p {
    font-size: 70%;
  }
  .flex .kit .figure .btn {
    font-size: 12px;
    width: 90%;
    height: 5vh;
  }
  .cuarta .texto {
    margin-bottom: 10vh;
  }
  .cuarta .texto .card {
    width: 70vw;
    height: 55vh;
    margin-left: 15%;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.651);
    color: black;
    border: black 2px solid;
  }
  .cuarta .texto .card .nosotrost {
    font-size: 12px;
    padding: 10px;
  }
  .contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
  }
  .contacto .contact_form {
    background-color: #788be2;
    width: 65vw;
    height: 60vh;
    margin-right: 5px;
    margin-left: 5%;
    border-radius: 20px;
  }
  .contacto .contact_form .formulario {
    padding: 5px;
  }
  .contacto .contact_form .formulario h1 {
    font-size: 10px;
    font-family: sans-serif;
    text-align: center;
  }
  .contacto .contact_form .formulario h3 {
    font-size: 10px;
    text-align: center;
  }
  .contacto .contact_form .formulario p {
    margin-bottom: 1px;
  }
  .contacto .contact_form .formulario p label {
    font-size: 10px;
  }
  .contacto .contact_form .formulario input {
    font-size: 7px;
    width: 100%;
    height: 3vh;
  }
  .contacto .contact_form .formulario button {
    font-size: 7px;
    width: 100%;
    height: 4vh;
  }
  .contacto .contact_form .formulario .texto_mensaje {
    width: 100%;
    height: 5vh;
  }
  .contacto .mapa {
    width: 100vw;
    height: 20vh;
    border-radius: 0px;
  }
}
@keyframes movimiento {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
