// body


body {

  background-image: url(../img/escritorio-computadora-portatil-taza-cafe-calendario.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  

}