// Contacto
.contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;


    .contact_form {
        background-color: #788be2 ;
        width: 30vw;
        height: 75vh;
        margin-right: 150px;
        border-radius: 20px;

        .formulario {
            padding: 20px;

            h1 {
                font-size: 30px;
                font-family: sans-serif;
                text-align: center;
                margin-bottom: 25px;
            }

            h3 {
                font-size: 20px;
                text-align: center;
                margin-bottom: 25px;
            }
            label{
                font-size: 25px;
            }

            input {
                width: 100%;
                height: 5vh;
            }

            button {
                width: 100%;
            }

            .texto_mensaje {
                width: 100%;
                height: 15vh;
            }
        }
    }
    .mapa{
        width: 30vw;
        height: 60vh;
        margin-top: 5vh;
        border-radius: 20px;
    }

}