// footer 

.footer {
    background-color: rgba(133, 130, 130, 0.74);
    margin-top: 24%;
    width: 100%;
    height: 28vh;
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;



    .p {
        margin-top: 30px;
        width: 25vw;
        height: 20vh;
        text-align: start;
        margin-left: 5%;


        img {
            background-color: white;
            width: 18vh;
            border: black 2px solid;
            border-radius: 10px;

        }

        h1 {
            @extend footer;
            color: black;
            font-size: 1.5em;

        }

        h2 {
            width: 20vw;
            @extend footer;
            color: black;
            font-size: 1.5em;


        }
    }

}

footer {
    .autor {
        background-color: white;
        width: 100%;
        height: 5vh;
        display: flex;
        position: absolute;
        margin-top: 40%;
        margin-bottom: 5px;
        


        p {
            color: black;
            margin-left: 35%;
            font-size: 1.2em;

        }

    }

    .svg {
        display: flex;
        position: absolute;
        margin-top: 36%;
        background-color: #b1732d;
        width: 100%;
        height: 12vh;
        justify-content: center;

        svg {
            margin-left: 4vw;
            padding: 5px;
            width: 5vw;
            height: 7vh;
        }

    }
}
