// footer 

.footer {
    margin-top: 20%;
    width: 97%;
    height: 10vh;
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: space-around;

    .p {
        width: 20vw;
        text-align: start;

        img {
            background-color: white;
            width: 20vh;
            border: black 2px solid;
            border-radius: 10px;
        }
        h1{
            @extend footer;
            
        }
        h2{
            @extend footer;
            
        }
    }
    .mapa{
        height: 30vh;
        margin-bottom: 20px;
    }
}


