// header 

.anuncio{
    background-color: #4c6bf8;
    width: 100%;
    height: 8vh;
    text-align: center;
    font-family: sans-serif;
    padding: 8px;
    
        h1{
            font-size: $textMd; 
        }
}