// main 


.contenedor {
    background-color: rgba(0, 0, 0, 0.726);
    width: 98%;
    height: 61%;
    margin-top: 25vh;
    margin-left: 8px;



    .row {
        justify-content: center;

        .col-md-6 img {

            margin-left: 1px;
            height: 61vh;
            width: 93vw;
            padding: 5px;
        }

        


            .card-text {
                color: $secondarycolor;
                font-size: 35px;
                width: 40vw;
                margin-top: 40px;
                font-family: $mainfonts;

            }

            .card-text3 {
                color: $secondarycolor;
                font-size: 30px;
                width: 45vw;
                margin-top: 40px;
                font-family: $mainfonts;

            }

        




    }
}