// Responsive

@media (min-width: 768px) and (max-width: 1024px) {




    // header



    .anuncio {
        background-color: $primarycolor;
        width: 100%;
        height: 7vh;
        text-align: center;
        font-family: sans-serif;
        animation: none;

        h1 {
            font-size: 20px;
            padding: 6px;

        }
    }





    // nav
    .navbar {
        background-color: transparent;
        margin-top: 1px;


        .logo {
            img {
                width: 12vw;
                border: black 2px solid;
            }
        }

        .container-fluid {
            justify-content: end;

            .navbar-toggler {
                margin-right: 2em;
                border: black 1px solid;

            }

            #navbarSupportedContent {

                ul {

                    li {
                        margin-top: 5px;
                        background-color: rgba(3, 3, 3, 0.527);
                        width: 40vw;

                        a {

                            color: rgb(255, 254, 254);
                            font-size: .8em;
                            font-family: sans-serif;
                            margin-left: 20px;


                        }

                        a:hover {
                            transform: scale(1.0);
                        }
                    }

                }

            }

            .carrito {
                margin-right: 15px;
            }
        }
    }


    // main 




    .contenedor {
        width: 98%;
        height: 65%;
        margin-top: 6vh;
        justify-content: center;
        background-color: rgb(12, 12, 12);

        .row {
            .col-md-6 {
                justify-content: center;

                .img-fluid {
                    margin-left: 1px;
                    height: 42vh;
                    width: 98vw;
                    padding: 5px;

                }




                .card-text {

                    color: rgb(250, 249, 249);
                    font-size: 14px;
                    width: 45vw;
                    margin-top: 40px;
                }

                .card-text3 {
                    font-size: 12px;

                }


            }

        }
    }


    // footer
    .footer {
        background-color: rgba(133, 130, 130, 0.74);
        margin-top: 19%;
        width: 100%;
        height: 19vh;
        display: flex;
        position: absolute;
        text-align: center;
        justify-content: center;



        .p {
            margin-top: 25px;
            width: 25vw;
            height: 8vh;
            text-align: start;
            margin-left: 1%;


            img {
                background-color: white;
                width: 14vh;
                border: black 2px solid;
                border-radius: 10px;


            }

            h1 {

                width: 45%;
                color: black;
                font-size: .7em;

            }

            h2 {


                width: 45%;
                color: black;
                font-size: .7em;


            }
        }

    }

    footer {
        .autor {
            background-color: white;
            width: 100%;
            height: 6vh;
            display: flex;
            position: absolute;
            margin-top: 38%;




            p {
                color: black;
                margin-left: 20%;

            }

        }

        .svg {
            display: flex;
            position: absolute;
            margin-top: 32%;
            background-color: #b1732d;
            width: 100%;

            height: 9vh;
            justify-content: center;

            svg {
                margin-left: 4vw;
                padding: 5px;
            }

        }
    }




    // camaras
    .segunda {


        .gridcamara {
            display: grid;
            grid-template-columns: repeat(3, 30%);
            column-gap: 25px;
            margin-top: 6vh;
            margin-bottom: 20vh;


            .figure {
                @include figure(25vw, 50vh, white);
                border: black 2px solid;
                border-radius: 10px;
                text-align: center;
                margin-left: 25px;


                img {
                    @include img(50%, 12vh, 5px);

                }

                figcaption {
                    @include figcaption(85%, 9vh, 7vh, 20px);

                    font-size: 11px;
                }

                p {
                    font-size: 13px;
                    text-align: center;
                    height: 8vh;

                }

                .btn {
                    font-size: 12px;
                    width: 90%;
                    height: 5vh;

                }
            }
        }
    }


    // sistemasolar
    .tercera {


        .gridsolar {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            column-gap: 20px;
            margin-top: 6vh;
            margin-bottom: 20vh;
            height: 50%;



            .figure {
                @include figure(25vw, 53vh, rgb(253, 251, 251));
                border: black 2px solid;
                border-radius: 10px;
                text-align: center;
                margin-left: 25px;

                img {
                    @include img(65%, 17vh, 15px);

                }

                figcaption {
                    @include figcaption(85%, 14vh, 5vh, 15px);
                    text-align: center;
                    font-size: 12px;


                }

                p {
                    text-align: center;
                    height: 4vh;
                }

                .btn {
                    font-size: 12px;
                    width: 90%;
                    height: 5vh;
                }
            }
        }
    }


    // kits 

    .flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20vh;
        margin-top: 6vh;
        margin-left: 20px;
        column-gap: 5px;

        .kit {
            width: 25vw;
            height: 60vh;



            .figure {
                @include figure(25vw, 56vh, white);
                border: black 3px solid;
                text-align: center;



                img {
                    @include img(14vw, 15vh, 5px);
                    margin-bottom: 5%;

                }

                figcaption {
                    @include figcaption(90%, 18vh, 5%, 0);
                    font-size: 70%;
                    margin-left: 5%;
                }

                p {
                    font-size: 15px;

                    height: 3em;

                }

                .btn {
                    font-size: 12px;
                    width: 90%;
                    height: 5vh;

                }

            }

        }

    }



    // nosotros
    .cuarta {


        .texto {
            margin-bottom: 5vh;
            margin-top: 1vh;

            .card {
                width: 70vw;
                height: 60vh;
                margin-left: 15%;
                justify-content: center;
                text-align: center;
                background-color: rgba(255, 255, 255, 0.651);
                color: black;
                border: black 2px solid;

                .nosotrost {
                    font-size: 20px;
                    padding: 10px;

                }
            }

        }
    }

    // contacto 
    .contacto {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 6vh;

        .contact_form {
            background-color: $primarycolor;
            width: 45%;
            height: 50%;
            margin-bottom: 5vh;
            margin-right: 40px;
            border-radius: 20px;


            .formulario {
                padding: 15px;

                h1 {
                    font-size: 20px;
                    font-family: sans-serif;
                    text-align: center;
                    margin-bottom: 5px;

                }

                h3 {
                    font-size: 15px;
                    text-align: center;
                    margin-bottom: 10px;
                }

            }
        }

        .mapa {
            width: 40vw;
            height: 40vh;
            margin-top: 5vh;
            border-radius: 20px;
        }


    }
}


@media (min-width: 1026px) and (max-width: 1250px) {

    // header 
    .anuncio {
        animation: none;
    }


    // nav
    .navbar {
        .container-fluid {
            justify-content: end;


            #navbarSupportedContent {
                ul {

                    li {
                        margin-top: 10px;
                        margin-left: 15px;
                        background-color: rgba(3, 3, 3, 0.527);
                        width: 40vw;


                        a {

                            color: rgb(255, 254, 254);
                            font-size: 1.2em;
                            font-family: sans-serif;
                            margin-left: 30px;


                        }

                        a:hover {
                            transform: scale(1.0);
                        }
                    }

                }

                a:hover {
                    background-color: transparent;



                }
            }
        }
    }

    // main 


    .contenedor {
        width: 98%;
        height: 40vh;
        margin-top: 15vh;
        justify-content: center;
        background-color: rgb(12, 12, 12);

        .row {
            .col-md-6 {
                .img-fluid {
                    margin-left: 1px;
                    height: 40vh;
                    width: 98vw;
                    padding: 5px;

                }



                .card-text {

                    color: rgb(250, 249, 249);
                    font-size: 20px;
                    width: 45vw;
                    margin-top: 40px;
                }

                .card-text3 {
                    font-size: 16px;

                }


            }

        }
    }

    // footer
    .footer {
        background-color: rgba(133, 130, 130, 0.74);
        margin-top: 20%;
        width: 100%;
        height: 19vh;
        display: flex;
        position: absolute;
        text-align: center;
        justify-content: center;



        .p {
            margin-top: 25px;
            width: 25vw;
            height: 20vh;
            text-align: start;
            margin-left: 5%;


            img {
                background-color: white;
                width: 14vh;
                border: black 2px solid;
                border-radius: 10px;


            }

            h1 {

                width: 45%;

                color: black;
                font-size: .8em;

            }

            h2 {
                width: 20vw;

                color: black;
                font-size: .8em;


            }
        }

    }

    footer {
        .autor {
            background-color: white;
            width: 100%;
            height: 6vh;
            display: flex;
            position: absolute;
            margin-top: 37%;




            p {
                color: black;
                font-size: 1em;
                margin-left: 25%;

            }

        }

        .svg {
            display: flex;
            position: absolute;
            margin-top: 32%;
            background-color: #b1732d;
            width: 100%;
            height: 8vh;
            justify-content: center;

            svg {
                margin-left: 4vw;
                padding: 5px;
            }

        }
    }




    // camaras
    .segunda {


        .gridcamara {

            justify-content: space-evenly;

            .figure {
                @include figure(20vw, 55vh, white);
                border: black 3px solid;
                border-radius: 10px;
                text-align: center;

                img {
                    @include img(60%, 14vh, 5px);

                }

                .btn {
                    font-size: 12px;
                    width: 90%;
                    height: 5vh;
                }
            }
        }
    }

    //solar
    .tercera {


        .gridsolar {
            justify-content: space-evenly;

            .figure {
                @include figure(20vw, 58vh, white);
                border: black 3px solid;
                border-radius: 10px;
                text-align: center;


                figcaption {
                    height: 20vh;
                }

                img {
                    @include img(60%, 18vh, 15px);

                }

                .btn {
                    font-size: 12px;
                    width: 90%;
                    height: 5vh;
                }
            }
        }
    }

    // kits 

    .flex {
        display: flex;
        justify-content: space-evenly;
        width: 99%;
        margin-top: 20vh;
        margin-left: 20px;

        .kit {
            width: 25vw;
            height: 70vh;


            .figure {
                @include figure(20vw, 57vh, white);
                border: black 3px solid;
                text-align: center;

                img {
                    @include img(60%, 30%, 5px);
                    margin-bottom: 5%;

                }

                figcaption {
                    @include figcaption(90%, 20vh, 5%, 0);
                    font-size: 75%;
                    margin-left: 5%;



                }

                p {
                    font-size: 15px;

                    height: 3em;

                }

                .btn {
                    font-size: 12px;
                    width: 90%;
                    height: 5vh;
                }
            }
        }
    }

    // nosotros
    .texto {
        margin-top: 10vh;

        img {
            height: 40%;
        }

        .card-img-overlay {
            margin-left: 12vw;
            margin-top: 15vh;

            .nosotrost {
                font-size: 1.5em;

            }
        }

    }

}

@media (min-width: 600px) and (max-width: 767px) {

    // header    
    .anuncio {
        height: 5vh;
        animation: none;

        h1 {
            font-size: 16px;
        }
    }

    // nav
    .navbar {
        background-color: transparent;


        .logo {
            img {
                width: 13vw;
            }
        }



        .container-fluid {
            justify-content: end;

            #navbarSupportedContent {
                li {
                    margin-top: 5px;
                    background-color: rgba(3, 3, 3, 0.527);
                    width: 50vw;

                    a {
                        color: white;
                        margin-left: 10px;
                        font-size: 13px;
                    }


                    a:hover {
                        transform: scale(1.0);
                    }

                }
            }
        }
    }

    // main

    main {
        .contenedor {
            display: block;
            width: 98%;
            height: 70vh;
            margin-top: 10vh;
            margin-left: 6px;

            .row {

                .col-md-6 {
                    img {

                        height: 40vh;
                        width: 98vw;
                    }

                    .card-text {
                        margin-top: 5px;
                        color: white;
                        font-size: 15px;
                        width: 93vw;
                        height: 23vh;
                        text-align: center;


                    }

                    .card-text3 {
                        font-size: 13px;
                        width: 100%;
                        margin-top: 2px;
                        text-align: center;


                    }
                }
            }
        }

    }

    // foter 

    .footer {
        background-color: rgba(133, 130, 130, 0.74);
        margin-top: 16%;
        width: 100%;
        height: 19vh;
        display: flex;
        position: absolute;
        text-align: center;
        justify-content: center;



        .p {
            margin-top: 25px;
            width: 25vw;
            height: 9vh;
            text-align: start;
            margin-left: 5%;


            img {
                background-color: white;
                width: 11vh;
                border: black 2px solid;
                border-radius: 10px;


            }

            h1 {

                width: 45%;
                color: black;
                font-size: .6em;

            }

            h2 {
                width: 20vw;

                color: black;
                font-size: .6em;


            }
        }

    }

    footer {
        .autor {
            background-color: white;
            width: 100%;
            height: 6vh;
            display: flex;
            position: absolute;
            margin-top: 40%;




            p {
                color: black;
                margin-left: 17%;
                font-size: .8em;

            }

        }

        .svg {
            display: flex;
            position: absolute;
            margin-top: 33%;
            background-color: #b1732d;
            width: 100%;
            height: 8vh;
            justify-content: center;

            svg {
                margin-left: 4vw;

                width: 7vw;
            }

        }
    }


    // camaras

    .segunda {


        .gridcamara {
            grid-template-columns: repeat(2, 40vw);
            justify-content: center;
            margin-top: 10vh;

            .figure {
                @include figure(35vw, 51vh, white);
                border: black 3px solid;
                border-radius: 10px;
                text-align: center;

                img {
                    @include img(47%, 12vh, 5px);

                }

                figcaption {
                    @include figcaption(85%, 16vh, 5px, 5px);
                    font-size: .8em;

                }

                .btn {
                    font-size: 12px;
                    width: 90%;
                    height: 5vh;
                }
            }
        }
    }

    //solar
    .tercera {


        .gridsolar {
            display: grid;
            grid-template-columns: repeat(2, 40vw);
            column-gap: 10vw;
            row-gap: 5vh;
            justify-content: center;
            margin-top: 10vh;
            margin-bottom: 80vh;
            height: 150vh;




            .figure {
                @include figure(35vw, 51vh, white);
                border: black 3px solid;
                border-radius: 10px;
                text-align: center;

                figcaption {
                    @include figcaption(90%, 10vh, 5px, 5px);
                    font-size: 12px;
                }


                img {
                    @include img(50%, 17vh, 15px);

                }

                p {


                    height: 10vh;
                }

                .btn {
                    font-size: 12px;
                    width: 90%;
                    height: 5vh;
                }
            }
        }
    }

    // kits 


    .flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10vh;
        margin-left: 10px;
        column-gap: 5px;
        justify-content: center;

        .kit {
            width: 40vw;
            height: 70vh;




            .figure {
                @include figure(35vw, 52vh, white);
                border: black 3px solid;
                text-align: center;



                img {
                    @include img(17vw, 16vh, 5px);
                    margin-bottom: 5%;

                }

                figcaption {
                    @include figcaption(90%, 15vh, 5%, 0);
                    font-size: 60%;
                    margin-left: 5%;
                }

                p {
                    font-size: 15px;

                    height: 2em;

                }

                .btn {
                    font-size: 12px;
                    width: 90%;
                    height: 5vh;

                }

            }

        }

    }

    // nosotros

    .cuarta {

        .texto {

            .card {
                width: 70vw;
                height: 60vh;
                margin-left: 15%;
                margin-top: 5vh;
                justify-content: center;
                text-align: center;
                background-color: rgba(255, 255, 255, 0.651);
                color: black;
                border: black 2px solid;


                .nosotrost {
                    font-size: 18px;
                    padding: 10px;
                }
            }
        }

    }

    // contacto 
    .contacto {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;


        .contact_form {
            background-color: #788be2;
            width: 45vw;
            height: 73vh;
            border-radius: 20px;
            margin-right: 5px;

            .formulario {
                padding: 10px;

                h1 {
                    font-size: 15px;
                    font-family: sans-serif;
                    text-align: center;
                    margin-bottom: 25px;
                }

                h3 {
                    font-size: 10px;
                    text-align: center;
                    margin-bottom: 25px;
                }

                label {
                    font-size: 12px;
                }

                input {
                    width: 100%;
                    height: 4vh;
                }

                button {
                    width: 100%;
                    height: 5vh;
                }

                .texto_mensaje {
                    width: 100%;
                    height: 5vh;
                }
            }
        }

        .mapa {
            width: 45vw;
            height: 40vh;
            margin-top: 5vh;
            border-radius: 20px;
        }

    }
}




@media (min-width: 480px) and (max-width: 599px) {
    .anuncio {
        height: 6vh;
        animation: none;

        h1 {
            font-size: 100%;
        }
    }

    // nav
    .navbar {
        background-color: transparent;


        .logo {
            img {
                width: 15vw;
                border: black 2px solid;
            }
        }

        .container-fluid {
            justify-content: end;


            #navbarSupportedContent {
                li {
                    background-color: rgba(3, 3, 3, 0.527);
                    width: 50vw;
                    margin-top: 5px;

                    a {
                        color: white;
                        margin-left: 10px;
                        font-size: .8em;
                    }

                    a:hover {
                        transform: scale(1.0);
                    }
                }
            }
        }
    }

    // main 

    main {
        .contenedor {
            display: block;
            width: 95%;
            height: 70vh;
            margin-top: 5vh;
            margin-left: 12px;

            .row {
                .col-md-6 {
                    img {
                        height: 38vh;
                        width: 98vw;
                    }

                    .card-text {
                        padding: 10px;
                        color: white;
                        font-size: 90%;
                        width: 90vw;
                        height: 25vh;
                        margin-top: 4px;
                        text-align: center;
                    }

                    .card-text3 {
                        font-size: 78%;
                        width: 100%;
                        height: 22vh;
                        margin-top: 5px;
                        text-align: center;

                    }
                }
            }
        }

    }

    // footer
    .footer {
        background-color: rgba(133, 130, 130, 0.74);
        margin-top: 10%;
        width: 100%;
        height: 17vh;
        display: flex;
        position: absolute;
        text-align: center;
        justify-content: center;



        .p {
            margin-top: 25px;
            width: 25vw;
            height: 8vh;
            text-align: start;
            margin-left: 5%;


            img {
                background-color: white;
                width: 10vh;
                border: black 1px solid;
                border-radius: 10px;


            }

            h1 {

                width: 45%;
                color: black;
                font-size: .5em;

            }

            h2 {
                width: 20vw;

                color: black;
                font-size: .5em;


            }
        }

    }

    footer {
        .autor {
            background-color: white;
            width: 100%;
            height: 5vh;
            display: flex;
            position: absolute;
            margin-top: 38%;




            p {
                color: black;
                margin-left: 12%;
                font-size: .7em;

            }

        }

        .svg {
            display: flex;
            position: absolute;
            margin-top: 29%;
            background-color: #b1732d;
            width: 100vw;
            height: 8vh;
            justify-content: center;

            svg {
                margin-left: 4vw;
                padding: 5px;
                width: 8vw;
            }

        }
    }





    // camaras 
    .segunda {


        .gridcamara {

            display: grid;
            grid-template-columns: repeat(2, 40vw);
            column-gap: 25px;
            justify-content: center;
            margin-top: 10vh;

            .figure {
                @include figure(38vw, 53vh, white);
                padding: 5px;

                img {
                    @include img(50%, 12vh, 5px);

                }

                figcaption {
                    @include figcaption(90%, 15vh, 1vh, 20px);
                    font-size: .7em;

                }

                .btn {
                    font-size: 12px;
                    width: 90%;
                    height: 5vh;
                }


            }
        }
    }

    // sistema solar
    .tercera {
        .gridsolar {
            display: grid;
            grid-template-columns: repeat(2, 30vw);
            column-gap: 15vw;
            row-gap: 15vh;
            justify-content: center;
            margin-top: 10vh;
            margin-right: 40px;
            height: 50%;


            .figure {
                @include figure(38vw, 51vh, white);
                border: black 3px solid;
                border-radius: 10px;
                text-align: center;

                img {
                    @include img(50%, 15vh, 5px);

                }

                figcaption {
                    @include figcaption(85%, 14vh, 20px, 15px);
                    padding: 10px;
                    font-size: 12px;
                }

                p {

                    height: 5vh;
                }

                .btn {
                    font-size: 12px;
                    width: 90%;
                    height: 5vh;
                }
            }
        }
    }

    // kits

    .flex {
        display: flex;
        width: 99%;
        justify-content: center;
        margin-top: 10vh;
        margin-left: 5px;

        .kit {
            width: 40%;
            height: 55vh;





            .figure {
                @include figure(38vw, 52vh, white);


                img {
                    @include img(65%, 15vh, 5px);

                }

                figcaption {
                    @include figcaption(90%, 15vh, 10%, 10px);
                    font-size: 65%;
                    margin-left: 5%;

                }

                p {
                    font-size: 70%;
                }

                .btn {
                    font-size: 12px;
                    width: 90%;
                    height: 5vh;
                }
            }
        }

    }

    // nosotros

    .cuarta {


        .texto {

            .card {
                width: 70vw;
                height: 60vh;
                margin-left: 15%;
                margin-bottom: 10vh;
                margin-top: 5vh;
                justify-content: center;
                text-align: center;
                background-color: rgba(255, 255, 255, 0.651);
                color: black;
                border: black 2px solid;


                .nosotrost {
                    font-size: 16px;
                    padding: 10px;
                }
            }
        }

    }


    // contacto

    .contacto {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;




        .contact_form {
            background-color: #788be2;
            width: 60vw;
            height: 72vh;
            margin-left: 25%;
            border-radius: 20px;

            .formulario {
                padding: 10px;

                h1 {
                    font-size: 15px;
                    font-family: sans-serif;
                    text-align: center;

                }

                h3 {
                    font-size: 10px;
                    text-align: center;

                }

                label {
                    font-size: 12px;
                }

                input {
                    width: 100%;
                    height: 3vh;
                }

                button {
                    width: 100%;
                    height: 5vh;
                }

                .texto_mensaje {
                    width: 100%;
                    height: 4vh;
                }
            }
        }

        .mapa {
            width: 100vw;
            height: 20vh;
            border-radius: 0;


        }

    }
}

@media (min-width: 390px) and (max-width: 479px) {



    body {
        background-image: url(../img/pruebaimg/plano-estacion-trabajo-espacio-copia-computadora-portatil.webp);
        background-repeat: no-repeat;
        background-size: contain 100% 100%;
        background-position: 40%;
        background-attachment: none;
        
    }

    //header
    .anuncio {
        width: 100%;
        height: 5vh;
        animation: none;
        background-color: #4e65cf;


        h1 {
            font-size: 90%;

        }
    }

    // nav
    .navbar {
        background-color: transparent;

        .logo {


            img {
                width: 20vw;
                border: black 2px solid;


            }

        }




        .container-fluid {
            justify-content: end;




            #navbarSupportedContent {
                ul {



                    li {
                        background-color: rgba(3, 3, 3, 0.527);
                        width: 60vw;
                        margin-top: 10px;


                        a {
                            font-size: 11px;
                            margin-left: 10px;
                            color: white;
                        }

                        a:hover {
                            transform: scale(1.0);
                        }

                    }
                }
            }
        }



    }


    // main

    main {
        .contenedor {
            display: block;
            width: 94vw;
            height: 48%;
            margin-top: 10vh;

            .row {
                height: 56vh;

                .col-md-6 {
                    justify-content: center;

                    img {
                        height: 30vh;
                        width: 96vw;
                        margin-top: 1px;

                    }

                    .card-text {
                        margin-top: 5px;
                        
                        text-align: start;
                        color: white;
                        font-size: 78%;
                        width: 85vw;
                        height: 21vh;
                        text-align: center;
                    }

                    .card-text3 {
                        font-size: 65%;
                        width: 100%;
                        height: 20vh;
                        margin-top: 5px;
                        margin-bottom: 1px;
                        text-align: center;
                    }
                }
            }
        }
    }


    // footer 
    .footer {
        background-color: rgba(133, 130, 130, 0.74);
        margin-top: 18%;
        width: 100%;
        height: 14vh;
        display: flex;
        position: absolute;
        text-align: center;
        justify-content: center;



        .p {

            width: 30vw;
            height: 6vh;
            text-align: start;
            margin-left: 5%;
            margin-top: 15px;
            justify-content: center;


            img {
                background-color: white;
                width: 8vh;
                border: black 1px solid;
                border-radius: 10px;

            }

            h1 {

                color: black;
                font-size: .5em;

            }

            h2 {
                width: 20vw;
                color: black;
                font-size: .5em;


            }
        }

    }

    footer {
        .autor {
            background-color: white;
            width: 100%;
            height: 4vh;
            display: flex;
            position: absolute;
            margin-top: 49%;
            margin-bottom: .2px;




            p {
                color: black;
                font-size: .7em;
                margin-left: 15px;


            }

        }

        .svg {
            display: flex;
            position: absolute;
            margin-top: 38%;
            background-color: #b1732d;
            width: 100%;
            height: 8vh;
            justify-content: center;

            svg {
                margin-left: 4vw;
                width: 9vw;
            }

        }
    }

    // camaras 
    .segunda {



        .gridcamara {
            display: grid;
            grid-template-columns: repeat(2, 40vw);
            column-gap: 25px;
            margin-top: 10vh;

            .figure {
                @include figure(40vw, 45vh, white);
                padding: 5px;
                border: black 2px solid;

                img {
                    @include img(58%, 11vh, 5px);

                }

                figcaption {
                    @include figcaption(90%, 10vh, 1vh, 20px);
                    margin-left: 10px;
                    font-size: 11px;


                }

                p {
                    font-size: 12px;
                    padding: 4px;
                    text-align: center;
                    height: 1em;
                    margin-top: 8vh;
                    margin-bottom: 4vh;
                }

                .btn {
                    font-size: 12px;
                    width: 90%;
                    height: 5vh;
                    text-align: center;
                }
            }
        }
    }

    // sistema solar
    .tercera {


        .gridsolar {
            display: grid;
            grid-template-columns: repeat(2, 30vw);
            column-gap: 15vw;
            row-gap: 4vh;
            justify-content: center;
            margin-top: 10vh;
            margin-bottom: 5vh;
            margin-right: 2em;
            height: 50%;

            .figure {
                @include figure(40vw, 45vh, white);
                border: black 2px solid;
                border-radius: 10px;
                text-align: center;

                img {
                    @include img(60%, 13vh, 5px);

                }

                figcaption {
                    @include figcaption(90%, 12vh, 25px, 15px);
                    font-size: 12px;
                    padding: 10px;
                }

                p {
                    font-size: 12px;
                    padding: 5px;
                    height: 5vh;
                }

                .btn {
                    font-size: 12px;
                    width: 90%;
                    height: 5vh;
                }
            }
        }
    }

    // kit
    .flex {
        display: flex;
        width: 99%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 5px;
        margin-top: 10vh;


        .kit {
            width: 40vw;
            height: 55vh;


            .figure {
                @include figure(40vw, 49vh, white);
                border-radius: 10px;

                img {
                    @include img(65%, 14vh, 5px);
                    margin-bottom: 20px;
                }

                figcaption {
                    @include figcaption(90%, 16vh, 0, 0);
                    font-size: 10px;
                    margin-left: 5px;
                }

                p {
                    font-size: 70%;
                    height: 10%;
                }

                .btn {
                    font-size: 12px;
                    width: 90%;
                    height: 5vh;
                }

            }

        }

    }

    // nosotros 
    .cuarta {
        .texto {
            margin-top: 1px;

            .card {
                width: 70vw;
                height: 55vh;
                margin-left: 15%;
                justify-content: center;
                text-align: center;
                background-color: rgba(255, 255, 255, 0.651);
                color: black;
                border: black 2px solid;


                .nosotrost {
                    font-size: 14px;
                    padding: 10px;
                }
            }
        }

    }

    // contacto

    .contacto {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;



        .contact_form {
            background-color: #788be2;
            width: 65vw;
            height: 60vh;
            margin-right: 5px;
            margin-left: 5%;
            border-radius: 20px;

            .formulario {
                padding: 8px;

                h1 {
                    font-size: 12px;
                    font-family: sans-serif;
                    text-align: center;

                }

                h3 {
                    font-size: 10px;
                    text-align: center;

                }

                label {
                    font-size: 10px;
                }

                input {
                    width: 100%;
                    height: 4vh;
                    margin-bottom: 0;
                }

                button {
                    width: 100%;
                    height: 4vh;
                    font-size: 10px;
                }

                .texto_mensaje {
                    width: 100%;
                    height: 5vh;
                }
            }
        }

        .mapa {
            width: 100vw;
            height: 20vh;
            border-radius: 0px;
        }

    }
}


@media (min-width: 320px) and (max-width: 389px) {

    body {
        background-image: url(../img/nosotros.webp);
        width: 320px;
        background-attachment: fixed;
    }

    // header
    .anuncio {
        width: 100vw;
        height: 5vh;
        animation: none;

        h1 {
            font-size: 80%;
        }
    }

    // nav
    .navbar {
        background-color: transparent;


        .logo {
            img {
                width: 12vh;
                border: black 1px solid;
            }
        }


        .container-fluid {
            justify-content: end;


            .navbar-toggler {
                margin-right: 20px;


            }

            #navbarSupportedContent {

                li {
                    background-color: rgba(3, 3, 3, 0.527);
                    width: 60vw;
                    margin-top: 10px;

                    a {
                        font-size: 10px;
                        margin-left: 10px;
                        color: white;
                    }

                    a:hover {
                        transform: scale(1.0);
                    }


                }
            }
        }
    }

    // main 
    main {
        .contenedor {
            display: block;
            width: 92vw;
            height: 72%;
            margin-top: 1vh;
            justify-content: center;

            .row {
                justify-content: center;

                .col-md-6 {
                    margin-right: 3px;

                    img {
                        @include img(92vw, 24vh, 5px);

                        height: 30vh;


                    }

                    .card-text {
                        margin-top: 5px;
                        text-align: start;
                        color: white;
                        font-size: 70%;
                        width: 85vw;
                        height: 22vh;
                        text-align: center;
                    }

                    .card-text3 {
                        text-align: start;
                        color: white;
                        font-size: 66%;
                        width: 85vw;
                        height: 22vh;
                        text-align: center;
                        margin-top: 5px;


                    }
                }
            }
        }
    }

    // footer

    .footer {
        background-color: rgba(133, 130, 130, 0.74);
        margin-top: 19%;
        width: 100%;
        height: 13vh;
        display: flex;
        position: absolute;
        text-align: center;
        justify-content: center;




        .p {

            width: 30vw;
            height: 5vh;
            text-align: start;
            margin-left: 5%;
            margin-top: 20px;


            img {
                background-color: white;
                width: 8vh;
                border: black 1px solid;
                border-radius: 10px;
                margin-right: 5px;

            }

            h1 {

                color: black;
                font-size: .4em;
                width: 20vw;

                margin-left: 1px;

            }

            h2 {
                width: 25vw;
                color: black;
                font-size: .4em;



            }
        }

    }

    footer {
        .autor {
            background-color: white;
            width: 100%;
            height: 5vh;
            display: flex;
            position: absolute;
            margin-top: 29vh;




            p {
                color: black;
                font-size: .6em;
                margin-left: 5px;




            }

        }

        .svg {
            display: flex;
            position: absolute;
            margin-top: 41%;
            background-color: #b1732d;
            width: 100%;
            height: 6vh;
            justify-content: center;
            align-items: center;

            svg {
                margin-left: 4vw;
                width: 10vw;

            }

        }
    }

    // camaras 
    .segunda {


        .gridcamara {
            display: grid;
            grid-template-columns: repeat(1, 60vw);
            column-gap: 25px;
            justify-content: center;
            margin-top: 10vh;
            margin-bottom: 5vh;

            .figure {
                @include figure(60vw, 43vh, white);
                padding: 5px;
                border: black 2px solid;


                img {
                    @include img(35vw, 14vh, 5px);

                }

                figcaption {
                    @include figcaption(90%, 10vh, 1vh, 10px);
                    font-size: 11px;
                    text-align: center;

                }

                p {
                    font-size: 9px;
                    padding: 4px;
                    text-align: center;
                    height: 3em;

                }

                .btn {
                    font-size: 12px;
                    width: 90%;
                    height: 5vh;
                }
            }
        }
    }

    // sistema solar
    .tercera {



        .gridsolar {
            display: grid;
            grid-template-columns: repeat(1, 60vw);
            column-gap: 15vw;
            row-gap: 4vh;
            justify-content: center;
            margin-top: 10vh;
            margin-bottom: 5vh;
            height: 50%;

            .figure {
                @include figure(60vw, 40vh, white);
                border: black 3px solid;
                border-radius: 10px;
                text-align: center;
                margin-bottom: 5vh;

                img {
                    @include img(27vw, 12vh, 5px);

                }

                figcaption {
                    @include figcaption(90%, 9vh, 1vh, 5px);
                    font-size: 12px;
                    text-align: center;
                    margin-left: 5px;
                }

                p {
                    font-size: 14px;
                    height: 4vh;

                }

                .btn {
                    font-size: 12px;
                    width: 90%;
                    height: 5vh;
                }
            }
        }
    }

    // kits

    .flex {
        display: flex;
        width: 99%;
        justify-content: center;
        margin-top: 10vh;
        padding: 10px;

        .kit {
            width: 55%;
            height: 50vh;
            margin-bottom: 5vh;
            margin-right: 80px;

            .figure {
                @include figure(60vw, 49vh, white);
                border-radius: 10px;



                img {
                    @include img(60%, 18vh, 5px);

                }

                figcaption {
                    @include figcaption(90%, 13vh, 0, 0);
                    font-size: 65%;
                    margin-left: 5%;
                }

                p {
                    font-size: 70%;
                }

                .btn {
                    font-size: 12px;
                    width: 90%;
                    height: 5vh;
                }

            }
        }
    }

    // nosotros
    .cuarta {
        .texto {
            margin-bottom: 10vh;


            .card {
                width: 70vw;
                height: 55vh;
                margin-left: 15%;

                justify-content: center;
                text-align: center;
                background-color: rgba(255, 255, 255, 0.651);
                color: black;
                border: black 2px solid;


                .nosotrost {
                    font-size: 12px;
                    padding: 10px;
                }
            }
        }

    }

    // contacto 
    .contacto {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;



        .contact_form {
            background-color: #788be2;
            width: 65vw;
            height: 60vh;
            margin-right: 5px;
            margin-left: 5%;
            border-radius: 20px;

            .formulario {
                padding: 5px;

                h1 {
                    font-size: 10px;
                    font-family: sans-serif;
                    text-align: center;

                }

                h3 {
                    font-size: 10px;
                    text-align: center;

                }

                p {

                    margin-bottom: 1px;

                    label {
                        font-size: 10px;

                    }
                }

                input {
                    font-size: 7px;
                    width: 100%;
                    height: 3vh;
                }

                button {
                    font-size: 7px;
                    width: 100%;
                    height: 4vh;
                }

                .texto_mensaje {
                    width: 100%;
                    height: 5vh;
                }
            }
        }

        .mapa {
            width: 100vw;
            height: 20vh;
            border-radius: 0px;
        }

    }
}