//extends

.figure{
    width: 18vw;
    height: 68vh;
    background-color: white;
    border: black 2px solid;
    border-radius: 10px;
}
.producto{
    width: 9vw;
    height: 20vh;
    padding: 10px;
}
figcaption{
    width: 90%;
    height: 10em;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    
}
.precio{
    width: 90%;
    height: 3em;
    text-align: center;
    margin-top: 1em;
    margin-left: 5px;
}
.btn{
    width: 12vw;
    height: 5vh;
    font-size: 14px;
    background-color: #3d5ce4;
}
footer{
    color: white;
    width: 45%;
    font-size: 20px; 
}


//mixin


@mixin figure($width,$height,$background-color){
    width: $width;
    height: $height;
    background-color: $background-color;
}
@mixin img($width,$height,$padding){
    width: $width;
    height: $height;
    padding: $padding;

}
@mixin figcaption($width,$height,$margin-bottom,$margin-top){
    width: $width;
    height: $height;
    margin-bottom: $margin-bottom;
    margin-top: $margin-top;
}

//maps

$colors:(
    "uno": white,
    "dos": black,
    "tres": #3d5ce4 ,
    "cuatro": grey,

);