// nav 
.navbar{
    background-color: rgba(133, 130, 130, 0.74);
    width: 100%;
    height: 20vh;
    margin-top: 1.5vh;
    .navbar-brand{
        

     img{
        background-color: $backcolor;
        width: 10vw;
        border-radius: 15px;
        border: $bordersecondary 2px solid;
        margin-left: 2vw;
     }
    }
    .navbar-toggler {
  
    background-color: #999693b2;
    border: $bordersecondary 1px solid;
  
    }
    #navbarSupportedContent{

    li{
        a{
            color: $secondarycolor;
            font-family: $mainfonts;
            font-size: $textSm;  
            margin-right: 3em;
            transition: 0.5s;
            object-fit: cover;
        }
        a:hover{
            transform: scale(1.3);
        }
    }
    }
}
