// nav 

.navbar {
    .logo {
        img {
            background-color: white;
            width: 10vw;
            border-radius: 10px;
            margin-left: 25px;
            margin-top: 10px;
        }
    }


    .navbar-toggler {

        background-color: #999693b2;
        border: $bordersecondary 1px solid;

    }

    #navbarSupportedContent {

        li {
            a {
                color: white;
                font-family: $mainfonts;
                font-size: 1.6em;
                margin-right: 3em;
                transition: 0.5s;
                object-fit: cover;
            }

            a:hover {
                transform: scale(1.3);
            }
        }

        svg {
            width: 5vw;
            height: 5vh;
        }
    }
}
.total{
    background-color: #f8b34c;
    position: absolute; 
    width: 15vw;
    color: black;
    border: black 2px solid;
    margin-left: 15px;
    margin-top: 15px;
    padding: 5px;
}

.producto-carrito div {
    border: black 2px solid;
    height: 33vh;
    width: 40vw;
    text-align: center;
}

.producto-carrito img {
    width: 6vw;
    height: 10vh;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 3vh;

}

.precio-carrito {
    font-size: 22px;
    height: 4vh;
}

.producto-carrito h6 {
    font-size: 20px;
    height: 5vh;
    color: red;
}

.producto-carrito span {

    background-color: red;
    color: white;
    padding: .8em;
    border-radius: 20%;
    cursor: pointer;


}