// Nosotros

.cuarta {
    background-image: url(../img/nosotros.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10%;


    .texto {
        
        .card {
            width: 70vw;
            height: 60vh;
            margin-left: 15%;
            margin-top: 15vh;
            justify-content: center;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.651);
            color: black;
            border: black 2px solid;

            
          .nosotrost {
            font-size: 25px;
            padding: 10px;
          }
        }
    }

}
