// Productos
// camaras
.segunda {
    background-image: url(../img/camaras.webp);






    .gridcamara {
        margin-top: 40vh;

        .contenedor-productos {
            display: grid;
            grid-template-columns: repeat(4, 20%);
            column-gap: 45px;
            justify-content: center;
            margin-top: 25vh;
            height: 100%;
            justify-content: center;
            transition: 0.5s;

            .figure {
                @include figure(18vw, 57vh, white);
                border: black 3px solid;
                border-radius: 10px;
                text-align: center;

                div {
                    .img {
                        width: 12vw;
                        height: 20vh;
                        margin-bottom: 3vh;

                    }
                }

                .titulo-producto {

                    font-size: 20px;
                    height: 15vh;

                }

                .precio-producto {
                    font-size: 25px;
                    height: 6vh;

                }

                .boton-añadir-carrito {
                    padding: 8px;
                    color: black;
                    background-color: #3d5ce4;
                    font-size: 25px;
                    text-decoration: none;
                    border-radius: 5px;

                }

                .boton-añadir-carrito:hover {
                    background-color: black;
                    color: white;
                    border: none;
                }
            }

        }
    }

}

// sistemasolar
.tercera {
    background-image: url(../img/paneles.webp);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;


    .gridsolar {
        display: grid;
        grid-template-columns: repeat(4, 20%);
        justify-content: space-evenly;
        margin-top: 25vh;
        height: 100vh;
        justify-content: center;
        margin-bottom: 30vh;


        .figure {
            @include figure(18vw, 55vh, white);
            border: black 3px solid;
            border-radius: 10px;
            text-align: center;

            img {
                @extend .producto;

            }

            figcaption {
                @extend figcaption;
            }

            p {
                @extend .precio;

            }

            .btn {
                @extend .btn;
                transition: 0.5s;
                object-fit: cover;

            }

            .btn:hover {
                transform: scale(1.2);
                background-color: black;
                color: white;
                border: none;
            }


        }
    }

}

// kits 
.flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 8.5%;
    margin-top: 25vh;
    margin-bottom: 20vh;

    .kit {
        width: 25vw;


        .figure {
            @include figure(18vw, 55vh, white);
            border: rgb(8, 8, 8) 3px solid;
            text-align: center;


            img {
                @extend .producto;

            }

            figcaption {
                @extend figcaption;

            }

            p {
                @extend .precio;

            }

            .btn {
                @extend .btn;
                transition: 0.5s;
                object-fit: cover;

            }

            .btn:hover {
                transform: scale(1.2);
                background-color: black;
                color: white;
                border: none;
            }

        }
    }
}



