// Productos
// camaras

.gridcamara {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    column-gap: 45px;
    justify-content: center;
    margin-top: 25vh;
    height: 100vh;

    .figure {
        width: 20vw;
        height: 67vh;
        border: black 3px solid;
        border-radius: 10px;
        background-color: rgb(255, 254, 254);
        text-align: center;



        img {
            @extend .producto;

        }



        figcaption {
            @extend figcaption;

        }

        p {
            @extend .precio;

        }

        .btn {
            @extend .btn;

        }
    }


}



// sistemasolar
.gridsolar {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    column-gap: 45px;
    row-gap: 5vh;
    justify-content: center;
    margin-top: 25vh;
    height: 100vh;


    .figure {
        @extend .figure;
        text-align: center;
        

        img {
            @extend .producto;

        }

        figcaption {
            @extend figcaption;
        }

        p {
            @extend .precio;

        }

        .btn {
            @extend .btn;


        }
    }
}


// kits 
.flex {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-top: 25vh;

    figure {
        background-color: rgb(214, 32, 32);
        height: 18%;
        height: 68vh;
        border: rgb(202, 18, 18) 3px solid;
        text-align: center;


        img {
            width: 10vw;
            height: 20vh;
            padding: 10px;


        }

        figcaption {
            width: 90%;
            height: 10em;
            margin-top: 5px;
            margin-left: 15px;
        }

        p {
            @extend .precio;
        }

        .btn {
            @extend .btn;
        }
    }
}