//Variables globales

// fonts
$mainfonts:'roboto', sans-serif;

// color
    
$primarycolor:#3d5ce4 ;
$secondarycolor: white;
$border: white;
$bordersecondary: black;
$backcolor: white;
$secondarybackcolor: black;

// sizing
$textSm: 1em;
$textMd: 1.5em;
$textLg: 2em;
$textXl: 3em;

